/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END MEYERWEB RESET @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



/* general styling */
html, .root {
  font-size: 20px;
  line-height: 1.4;
}
main{
    width: 100vw;
    /*ctrl + space color picker*/
    background-color:     rgb(18, 190, 202);
    padding-bottom: 1rem;
}

/* logo */
 #logodiv{
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }
#logo{
    height: 25vw;
    max-height: available;
    margin: 1vw 0 1vw 0;
}
 /*text content*/

section{
    background-color:#d2d0c4;
    max-width: 70%;
    margin: 2rem auto 2rem auto;
    padding: 2rem 0 2rem 0;
}

#measure{
    /*color: red;*/
}
p, h1, h2{
    max-width: 50%;
}
p{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 1rem auto;
}

i{
    font-style: italic;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    line-height: 1.1;
    margin: 2rem auto 1rem auto;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    /*max-width: 30rem;*/
    margin: 2rem auto .5rem auto;
}
#facebookicon{
    height: 1.4rem;
    color: #3b5998;
    margin-left: 1rem;
}

/*thephotographs*/
.snapsdiv{
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem auto;
    width: 60%;
}
.snaps{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    box-sizing: border-box;
    border: .5vw solid white;
    box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 2);
}
.lefttilt{
    transform: rotate(-1deg);
}
.righttilt{
    transform: rotate(1deg);
}

/*home button nav*/
#homelink{
    display: flex;
    justify-content: center;
}
.homeicon{
    width: 16vw;
    margin-bottom: 1rem;
}

/*Adverts*/
#omnivore{
    width: 100vw;
    background-color:white;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: blue;
}
.omnilink{
    font-family: 'Roboto', sans-serif;
    /*font-size: 18px;*/
    /*line-height: 23px;*/
    max-width: 80%;
}
#omnilogo{
    height: 8vw;
    min-height: 40px;
}
/*  END default monitor styling */

      /*$$$$$$$$$$$$$$$$$ MEDIA QUERIES  $$$$$$$$$$$*/

@media screen and  (max-width:1500px) {
    main{
        /*background-color:  red;*/
    }
    p, h1, h2{
    max-width: 70%;
    }
    #logo{
        height: 35vw;
    }
}

@media screen and (max-width:999px) {
    main{
        /*background-color:  aqua;*/
    }
    #logo{
        height: 45vw;
    }
    .snaps{
        width: 80%;
    }
    section{
        max-width: 90%;
        margin: 1rem auto 1rem auto;
        padding: 1rem 0 1rem 0;
    }
    p, h1, h2{
        max-width: 80%;
    }
    h1{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.5rem;
        line-height: 1.1;
        margin: 1rem auto .7rem auto;
    }
    h2{
        font-size: 1.4rem;
        /*max-width: 30rem;*/
        margin: .8rem auto .5rem auto;
    }
    #omnilogo{
        height: 12vw;
        min-height: 40px;
    }
    .homeicon{
        width: 22vw;
    }
}
@media screen and (max-width:500px){
    main{
        /*background-color: coral;*/
    }
    html, .root {
      font-size: 16px;
      line-height: 1.4;
    }
    #logo{
        height: 55vw;
    }
    #omnivore{
        flex-flow: column;
    }
    .snaps{
        width: 95%;
    }
}