/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END MEYERWEB RESET @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* BEGIN PC STYLING */
#wholeHomeContainer{  
    height: 250vh;  
    width: 100vw;  
    background-color: #5dbf8b;
    background-image: url(../static/images/lakebed.jpg);
    /* SWTApp/static/images/lakebed.jpg */
    background-position: center;
    background-size : 100% 100%;
    background-repeat: no-repeat;

    display: grid;
    /* logo..pics..intro..buttons..contact     */
    grid-template-rows: 4fr 4fr 4fr 12fr 2fr;

}


/* logo */
#logoDiv{
    display: grid;
    place-items: center; 
}
#logo{
    /* display: grid; */
    max-width:auto;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(235, 231, 231, 0.3);
    border-radius: 50%;
    border: 5px solid rgb(202, 190, 18); 
    place-items: center;   
}


/* trout snaps */
#troutSnapsDiv{
    display: grid;
    grid-template-rows: 1fr;
    /* max-height: 90%; */
    /* min-height: 40px; */
    grid-template-columns: 30fr 30fr 30fr;
    place-items: center;

}.troutSnap{
    max-width:80%;
    height: auto;
    border: 5px solid rgba(245, 248, 248, 0.973); 
}


/* intro */
.transparently{
    background: rgb(235, 231, 231, 0.3);
}
#introText{
    display: grid;

}
#introductionDiv{
    display:grid;
    padding-right: 5%;
    padding-left: 5%;
    place-items: stretch center;
    margin: 15px;
}
#homeHeader{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;    
    text-shadow: 2px 2px 2px rgb(41, 39, 39);
    color: black;
    text-align: center;
}
.intropara{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    

    color: black;    
    padding: 10px;
}


/* buttons */
#buttonsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* place-items: center center; */
}
#invertebratesB{
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    place-items: center center;
}
#fliesB{
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    place-items: center center;    
}
#techniqueB{
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    place-items: center center;
}
#gearB{
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    place-items: center center;
}
.icon{      
    object-fit: contain;
    max-width: 80%;
    max-height:auto;
    background:rgb(255, 255, 255, 0.3);
    border-radius: 48%;
}
.iconBug{     
    border: 5px solid rgb(90, 211, 144);         
}
.iconTechnique{      
    border: 5px solid rgb(18, 190, 202);      
}
.iconGear{    
    border: 5px solid rgb(97, 144, 146);      
}
.iconFly{
    border: 5px solid rgb(111, 18, 119); 
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgb(41, 39, 39);
    color: black;
    text-align: center;

}

#housekeepingDiv{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;


}
#Ryepic{
    max-height: 80%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
#maker{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* END PC STYLING */



/* BEGIN iPAD STYLING */
@media screen and (max-width: 975px){
    
    
    /* trout snaps */
    #wholeHomeContainer{  
        display: grid;
        /* logo..pics..intro..buttons..contact     */
        grid-template-rows: 200px 1fr 2fr 8fr 1fr; 
        height: 450vh;
        width: 100vw;  
        background-color: #5dbf8b;
        /*background-image:url();*/
        /*SWTApp/static/images/lakebed.jpg*/
        background-position: center;
        background-size : 100% 100%;
        background-repeat: no-repeat;

        

    }
    #logo{
        display: grid;
        
        max-height: 90%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        background: rgb(235, 231, 231, 0.3);
        border-radius: 50%;
        border: 5px solid rgb(170, 28, 9); 
        place-items: center;   
    }
    #troutSnapsDiv{
        display: grid;
        grid-template-rows: 1fr;
        max-height: 90%;
        /* min-height: 40px; */
        grid-template-columns: 30fr 30fr 30fr;
        place-items: center;

    }.troutSnap{
        max-width:80%;
        height: auto;
        border: 5px solid rgba(245, 248, 248, 0.973); 
    }
    
    #homeHeader{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;    
        text-shadow: 1px 1px 1px rgb(41, 39, 39);
        color: black;
        text-align: center;
    }
    .intropara{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;           
        color: black;    
        padding: 10px;
    }
    #buttonsDiv{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
    .icon{      
        object-fit: contain;
        max-width: 80%;
        max-height:auto;
        background:rgb(255, 255, 255, 0.3);
        border-radius: 48%;
    }
    #Ryepic{
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    #maker{
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* END iPAD STYLING */

/* BEGIN MOBILE STYLING */
@media screen and (max-width: 600px){
    #logo{
        border: 5px solid rgb(36, 18, 202);           
    }
    #wholeHomeContainer{  
        height: 310vh;
        width: 100vw;  
        background-color: #5dbf8b;
        /*background-image: url("/images/lakebed.jpg");*/
        background-position: center;
        background-size : 100% 100%;
        background-repeat: no-repeat;

        display: grid;
        /* logo..pics..intro..buttons..contact     */
        grid-template-rows: 150px 1.3fr 3fr 10fr 1fr; 

    }
    #introductionDiv{
        display:grid;
        padding-right: 5%;
        padding-left: 5%;
        place-items: stretch center;
        margin: 5px;
    }
    #homeHeader{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;    
        text-shadow: 0px 0px 0px rgb(41, 39, 39);
        color: black;
        text-align: center;
    }
    .intropara{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;           
        color: black;    
        padding: 3px;
    }
    #DadSnap{
        display: none;
    }
    /* #KevSnap{
        display: none;
    } */
    #troutSnapsDiv{
        display: grid;
        grid-template-rows: 1fr;
        max-height: 90%;
        /* min-height: 40px; */
        grid-template-columns: 1fr 1fr;
        place-items: center;

    }.troutSnap{
        max-width:80%;
        /*max-height: 80%;*/
        border: 5px solid rgba(245, 248, 248, 0.973); 
    }
    #buttonsDiv{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
    .icon{      
        object-fit: contain;
        max-width: 80%;
        max-height:auto;
        background:rgb(255, 255, 255, 0.3);
        border-radius: 48%;
    }
    #Ryepic{
    max-width: 300px;
    /*padding: 10px;*/
    display: block;
    margin: 0 auto;
}
    #maker{
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* END MOBILE STYLING */
