/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END MEYERWEB RESET @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* BEGIN PC STYLING */

/*Here we start the vertical settings for all the text*/
html, .root {
  font-size: 20px;
  line-height: 1.4;
}
main{
    width: 100vw;
    /*ctrl + space color picker*/
    background-color:  rgba(16,43,167,0.84);
}
.textcontent{
    background-color: white;
    max-width: 70%;
    margin: 2rem auto 2rem auto;
    padding: 2rem 0 2rem 0;
}
#measure{
    /*color: red;*/
}
p, h1, h2{
    max-width: 50%;
}
p{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 1rem auto;
}

i{
    font-style: italic;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    line-height: 1.1;
    margin: 2rem auto 1rem auto;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    /*max-width: 30rem;*/
    margin: 2rem auto .5rem auto;
}
#facebookicon{
    height: 1.4rem;
    color: #3b5998;
    margin-left: 1rem;
}

/* logo */
 #logodiv{
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }
#logo{
    height: 25vw;
    max-height: available;
    margin: 3vw 0 2vw 0;
}

/* trout snaps */
#troutSnaps{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

}
.troutSnap{
    width: 28vw;
    box-sizing: border-box;
    border: .5vw solid white;
    box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 2);
}
#Dadsnap{
    transform: rotate(-1deg);
}
#Kevsnap{
    transform: translate(.5vw, .5vw);
}
#Ryesnap{
    transform: rotate(1.5deg);
}
/* intro */


/* buttons */
#buttonsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1.5rem 0 2rem 0;
}
.iconStrip{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: end;
}
.icon{
    margin:0 auto 2vw auto;
    max-width: 90%;
    background:white;
    border-radius: 48%;
    box-sizing: border-box;
}
.iconIMG{
    max-width: 100%;
}
.iconBug{
    border: 5px solid rgb(90, 211, 144);         
}
.iconTechnique{      
    border: 5px solid rgb(18, 190, 202);      
}
.iconGear{    
    border: 5px solid rgb(97, 144, 146);      
}
.iconFly{
    border: 5px solid rgb(111, 18, 119); 
}

#omnivore{
    width: 100vw;
    background-color:white;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: blue;
}
.omnilink{
    font-family: 'Roboto', sans-serif;
    /*font-size: 18px;*/
    /*line-height: 23px;*/
    max-width: 80%;
}
#omnilogo{
    height: 8vw;
    min-height: 40px;
}

/* END PC STYLING */

/*        $$$$$$$$$$$$$$$$$$$$$$  BEGIN MEDIA QUERIES $$$$$$$$$$$$$$$$$$$*/
@media screen and (min-width:1500px) {

}

@media screen and  (max-width:1500px) {
    main{
        /*background-color:  red;*/
    }
    p, h1, h2{
    max-width: 70%;
    }
}

@media screen and (max-width:999px) {
    main{
        /*background-color:  aqua;*/
    }
    .troutSnap {
        width: 38vw;
    }
    #Dadsnap{
        display: none;
    }
    #Kevsnap{
        transform: rotate(-1deg);
    }
    #Ryesnap{
        transform: rotate(1.5deg);
    }
    #buttonsDiv{
        grid-template-columns: 1fr 1fr;
    }
    .textcontent{
        background-color: white;
        max-width: 90%;
        margin: 1rem auto 1rem auto;
        padding: 1rem 0 1rem 0;
    }
    p, h1, h2{
        max-width: 80%;
    }
    #logo{
        height: 45vw;
        max-height: available;
        margin: 3vw 0 2vw 0;
    }
    h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 1rem auto .7rem auto;
}
    h2{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.4rem;
        /*max-width: 30rem;*/
        margin: .8rem auto .5rem auto;
    }
}
@media screen and (max-width:500px){
    main{
        /*background-color: coral;*/
    }
    html, .root {
      font-size: 16px;
      line-height: 1.4;
    }
    #logo{
        height: 35vw;
        max-height: available;
        margin: 3vw 0 2vw 0;
    }
    #omnivore{
        flex-flow: column;
    }
}
