<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fishing boats on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/boats.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Boats for Fly Fishing</h1>
            </div>
            <div id="contents">
                <h2>Boats are the best way to access fishing water on a lake</h2>
                <p>You need to be on the water. Fishing from shore is just not a decent option. With that said we begin our exploration of one of the most difficult questions in flyfishing: “Which boat?” </p>
                <p>There’s no right answer. That’s tough news considering you have to choose. My plan for this section is to look at each type of boat and try to break down it’s strengths and weaknesses. Depending on your application you can weigh the advantages and disadvantages. After you’ve settled and made your choice you can long for the features of the boats you don’t have along with the rest of us.</p>
                <h2>Float tubes</h2>
                <p>I started flyfishing in a float tube and I fished that way for a decade. Though they are not without merits there are many compelling reasons to upgrade from a float tube. For hike-in trips or if you're on a budget they can be great.</p>
                <img src="static/images/dadTube.png" alt="dadTube" id="dadTube">
                             
                <h3>Advantages of fishing in a tube</h3>
                <ul>
                    <li>Float tubes are cheap. You can get one for 250 bucks. You’ll need another couple hundred for waders. At this price point you would have to fight to find a used hull-only boat.</li>
                    <li>Tubes are portable. They’re small enough to fit in a small car and deflate them and they’ll go into a backpack. The weight with the required waders and flippers is still light enough for hike in fishing. This is probably their greatest strength.</li>
                </ul>
                
                <h3>Disadvantages of fishing in a tube</h3>
                <ul>
                    <li>Moving any distance on the lake is painfully slow. The kicking with the flippers is ineffective and there’s tons of drag. You will feel you’re in a time warp as you check your progress.</li>
                    <li>Your body is in the water. Your waders will keep you dry but especially in spring that cold water can chill you. If you need to pee you have to head to shore so you can stand up and get your waders down. The law of waders is that eventually they all develop a leak.</li>
                    <li>Its wet. Being low to the water on a small platform you can expect everything to be wet after a few fish. Wind driven chop will leave you soaking. Think wet sleeves.</li>
                    <li>It’s a small work platform. Although tubes usually have an apron it’s a small surface. Tasks like changing spools can be a struggle in a tube. Dropping something valuable is an ever present danger.</li>
                    <li>There is limited storage, typically two pockets.</li>
                </ul>                
                
                <h2>Canoes</h2>
                <p>I love canoes. They are superb for exploring and travelling. They have a rich history in Canada. Canoes are a lot of fun, I have one and really enjoy it. However I do not enjoy flyfishing in a canoe. As a dedicated fly fishing boat canoes are ill-suited.</p>
                <img src="static/images/canoe.JPG" alt="canoe" id="canoe">
                <h3>Advantages of a canoe</h3>
                <ul>
                    <li>It’s possible to troll a fly during canoe trips offering fresh trout to eat and a fun diversion.</li>
                </ul>
                
                <h3>Disadvantages of fishing from a canoe</h3>
                <ul>
                    <li>Canoes are tough to anchor and they’re windsocks.</li>
                    <li>The seats face along the long hull’s axis. To fish you will need to twist at the waist for the duration.</li>
                    <li>Stability isn’t great.</li>                    
                </ul>
                
                                
                <h2>Pontoons</h2>
                <p>I have second hand experience with pontoon boats. My brother and I fish together regularly and he fished out of a large pontoon boat for years. Here’s what he liked and what he struggled with.</p>
                <img src="static/images/pontoon.JPG" alt="pontoon" id="pontoon">
                <img src="static/images/ads.png" alt="ads" id="ads">
                <h3>Advantages of a pontoon boat</h3>
                <ul>
                    <li>Seaworthy as hell.</li>
                    <li>Fast travel. The pontoons are sleek and they draw very little water, rowing great distances is fast and easy.</li>
                    <li>Moderate gear storage is afforded by large pockets and the rear tray. </li>
                    
                </ul>                
              
                <h3>Disadvantages of pontoon boats</h3>
                <ul>
                    <li>The working area consists basically of your lap. You will have regular opportunities to drop valuable gear. Catching and releasing fish is more trouble than in a boat.</li>
                    <li>Anchorage is tricky. Setting an anchor to hold your position is no problem. Setting a second anchor to stop the boat vacillating in a shifting wind is made difficult by the short overall length. Twisting and turning was a problem for my brother.</li>
                    <li>Portability and cost is little better than a small car topper which has few disadvantages. Disassembly and deflation is a chore so do not be fooled into thinking you’ll be doing it every outing.</li>
                    <li>Mounting accessories like rod holders or transducers is tricky often relying on nylon straps or customized fabrication.</li>
                </ul>

                <h2>Car Topper Boats (aluminums to 12’)</h2>
                <p>I fished for a decade from a ten foot jon boat. Aluminum boats and lightweight wood/fiberglass prams are easily the most functional platform to fly fish a lake.</p>
                <img src="static/images/ryeBoat.png" alt="ryeBoat" id="ryeBoat">
                <h3>Advantages of cartoppers</h3>
                <ul>
                    <li>Great working platform. You have a lot of flat area to set down tools, cameras and other gear and it won’t roll out and fall in the water.</li>
                    <li>Anchor blocks placed transom and bow will allow rock solid anchorage without twisting.</li>
                    <li>Weight. A small boat can be manhandled into a lake without a launch ramp. With the addition of wheels they can be rolled short distances on a trail or overland to the water.</li>
                    <li>Portability is good. Shorter hulls can be hauled in a pickup box. Any vehicle with a roof rack can carry this type of boat.</li>
                    <li>Mobility is good. These boats are light with a shallow draft. Rowing will cover ground quickly without a strain. An electric or small gas motor will do good work here.</li>
                    <li>The cost of this sort of boat is moderate a new hull is under $2000. All the accessories could run maybe that much again if you’re starting from zero.</li>
                    <li>Mounting accessories like rod holders or transducers is a snap.</li>
                </ul>
                
                <h3>Disadvantages of cartoppers</h3>
                <ul>
                    <li>Basically a one man vessel. Two will be somewhat cramped even in a 12 foot boat.</li>
                    <li>Seaworthiness has it’s limits. Small boats have only so much beam and freeboard. Although the small boats are stable and safe they yield to the larger boats on bigger lakes or in rough water. </li>
                    <li>Setup. To get a boat on the roof rack it has to be emptied out. Likewise to go fishing it will have to be reassembled. The only practical spot to set up is in the launch and it’s awkward if you’re not alone because you will be holding everyone up if you’re not quick. Getting a boat onto the roof rack can involve heavy lifting</li>
                    
                </ul>
                
                
                
                <h2>Trailerable Boats (aluminums >12’)</h2>
                <p>I currently fish out of a 15 foot jon. The speed and ease with which it crosses the lake still astound me. Theres room to take both my teenage sons out at once. The rock solid stability leaves me comfortable standing on the rear bench to fish off the stern. </p>
                <img src="static/images/keirShip.png" alt="keirShip" id="keirShip">
                <h3>Advantages of big trailerable boats</h3>
                <ul>
                    <li>Seaworthiness. The larger aluminums have high sides, wide beams and length.</li>
                    <li>Stability. Big hulls are stable and it’s nice to stand while fishing. The longer hull will, with appropriately sized anchors, increase anchorage hold and immobilize your boat. </li>
                    <li>Suitable for more than one angler. Take a friend along comfortably in your larger boat. Especially great if you have children.</li>
                    <li>Mobility. My 15 foot boat with a 20HP motor will run at around 40 kmph. You get across even large lakes quickly. Changing location isn’t worth debating. Escaping a storm is quick.</li>
                    <li>Room. Room for a fish cooler, a Labrador retriever, a bigger sounder. Whatever you want to bring  it’s less likely to be touching your knees. Working space for retying gear or handling fish is generous and ample.</li>
                    <li>Setup is a pleasure. There’s no heavy lifting with a trailerable boat. A lot of the gear in a trailerable boat can stay in the hull on the trailer. What you must setup each outing can be done off to the side of the launch. When you’re done rigging up you just roll down and dump the boat. Likewise on the way out, pluck the boat out and dissasemble at your leisure off to the side. Never having to say, “I’ll just be another minute here” as you set up a cartopper on the ramp is really fine.</li>
                    <li>Mounting accessories like rod holders or transducers is a snap.</li>
                    <li>Multi-purpose. Bigger boats are great for trolling, running rivers and water skiing. Some big boats capable of these tasks are still ok for fly fishing.</li>
                </ul>
                
                <h3>Disadvantages of big trailerable boats</h3>
                <ul>
                    <li>Trailers require some kind of ramp. A rough gravel launch is enough but you can’t hand launch. Some lakes will become sadly inaccessible to you.</li>
                    <li>Expense is a consideration. This sort of boat with motor will cost several thousand dollars.</li>
                    <li>Rowing while possible is hard work. If you are on a lake with a motor restriction you might end up wanting an electric or small HP gas in addition to the main engine.</li>
                    <li>The road to the lake has to be trailer driveable. Locking the hubs and crawling into some remote lake are for vehicles carrying other types of boats.</li>
                </ul>
                
                <h2>Let the great debate begin!</h2>
                <p> Campfire discussions about just which boat is best are like a dog chasing its tail. There is no answer to this riddle. The college kid having hiked into an alpine tarn with his float tube has a leak in his waders and dreams of a tin boat. There’s a man with an 18 foot boat on a trailer looking at a map book his finger on a lake he wants to fish that has no ramp. Someones snapping their spine rowing an elegant ten foot pram to get off a lake in a thunderstorm and it’s not moving near fast enough for his liking. </p>
                
                 <p>You can take some cold solace knowing that no one is ever truly satisfied.</p>
               
            </div>
        </div>
