<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Tips, tricks & tactics to improve your fly fishing for trout in a lake.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Caddis on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/caddisBug.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>
            <section>
                <h1>Caddis flies on the lake</h1>

                <h2>Caddis Flies: Fishing at Dusk</h2>
                <p>In many flyfishing situations caddisflies are of<span id="measure"> top importance to the angler, where hatches l</span>ike biblical plagues electrify the trout. In the lake they play a quiet role as a seasonal hatch with limited significance. There is one special case, the large travelling sedges, that requires a solid mention. Let’s look at the caddis flies.
                </p> 
                
                <h2>Cased Caddis Larvae.</h2> 
                <p>The larvae of the caddis flies have a unique tactic for staying alive. Their body features a small head and legs atop a soft vulnerable worm-like body. Naked like this they are prone to danger but they are not found naked. The larvae spin up a case of lake detritus, stones, sticks and plant matter from the local surroundings. The result is near perfectly camouflaged armor. This trick works and trout in the lake eat very few caddis larvae. Find them in the shallows, they’re a tiny fascinating freshwater hermit crab, but forget them for fishing.
                </p> 
                <div class="snapsdiv">
                    <img src="static/images/CaddisGrub.png" alt="caddisLarvae" class="snaps righttilt">
                </div>
                <h2>Swimming Caddis Pupa</h2>   
                <p>When its time to hatch caddis will become a pupa. The pupa looks like a drowned version of the adult. Sort of hairy, long legs and antenna trailing and that fat body. The pupa will be making the swim from the bottom to the surface. They porpoise and wriggle and make a fairly direct shot for the surface. This is a pretty tempting meal for a trout, to avoid that hazard the trip is usually made in low light or darkness.
                </p> 
                <div class="snapsdiv">
                    <img src="static/images/caddispupa.png" alt="caddisPupa" class="snaps">
                </div>
                <h2>Caddis Adults Running Across the Surface</h2>
                <p>Once the swim is over the caddis will pop up on the surface. Their hairy legs hold them afloat on the surface tension. While they wait for their wings to inflate so they can get out of there they’re in danger. The adult is long and in some cases large and it offers a big profile view to fish underneath. To avoid getting picked off the flies start to run. They make a scampering escape leaving gentle rings in the water and a tiny wake. This disturbance sometimes makes it worse as trout are stimulated by the patterns in the water over their heads and will sometimes key in on it.
                </p> 
                <div class="snapsdiv">
                    <img src="static/images/CaddisAdult.png" alt="caddisAdult" class="snaps lefttilt">
                </div>
                <h2>Caddis Adults Have a Distinct Appearance</h2>    
                <p>It’s hard to mistake a caddis for anything else. They carry their mothlike wings folded together low over their body. They have two very long antenna that lay back over top like windblown hair and long legs. The body is fat and long the thorax is small and the head is tiny. Colors are anything brown from a light tan to cinnamon or anything grey from ash to almost black. 
                </p>
                <h2>Traveller Sedges are Huge in Size and Importance</h2>
                <p>Caddis come in two sizes as far as angling is concerned: big ones and small ones.        
                </p>         
                <p>The smaller caddis are common and trout feed on the pupa and the adults. These are the usual caddis maybe ½”(15mm) long and brown or tan color.  In some fisheries this is a monolithic hatch but in the lake it’s just an aside. It happens but it pales in comparison to other hatches. I rarely imitate the smaller caddis.        
                </p>    
                <p>Traveller sedge are something different. They’re more rare, not every lake supports this fly. They’re also huge up to around 1.5”(40mm). Dark grey is the usual color for the travellers.  It’s a fat juicy bug with a big soft abdomen. They’re carrying a lot of eggs and that’s great nutrition for the fish. Lakes that have sedge are famous for it so finding a spot to try this hatch shouldn’t be a quest.
                </p>       
                <p>Summer Evenings are the Time for the Traveller Sedge Hatch</p>   
                <p>The timing of the sedge hatch is mid-summer. This often means warm sunny days and rising water temperatures resulting in warm oxygen poor water that is not good for trout. Worse yet the hatch is often in shallow water weeds. It’s a testament to the value of this food source that the trout endure the poor conditions to take part.</p>
                <p>Bring a headlamp and start after dinner. The hatch will usually start at dusk and it can go on through the night. A headlamp will allow you to work in the fading light. I fish a lake with a sedge hatch and when I get started a lot of people are leaving for the day, red-faced hot and sunburnt. Fighting through conditions that are almost the summer doldrums in the bright summer sun is hot work. Getting started just as the sun is going behind the mountain and things are cooling off is nice and the best fishing of the day is just about to get started!        
                </p>   
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
        
        
            
        
        
            
            
            
        
    </body>
</html>
