<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout caddis patterns.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Caddis Patterns on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/caddispattern.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Fly Patterns Imitating Caddis Flies</h1>
                <h2>Adult Caddis patterns</h2>
                <p>Caddis flies and especially the big sedges are a veeeery exciting hatch to get in on. The fly patterns for caddis should stay in the grey and olives to an almost tan for color and there is often a lime green color to the abdomen of the adults. Both forms are hairy with hairy legs and lots of trailing antennae and legs. On the swimming emergence everything gets swept back and the adult carries its wings and antennae laid back. Fish the emerging nymph in a slow and steady arcing rise to the surface. The adult should be fished with lots of action interspersed with little pauses. Trout key on the disturbance on the water as much as the silhouette of the adult.</p>

                <div class="snapsdiv">
                    <img src="static/images/patternCaddis1.jpg" alt="patternCaddis1" class="snaps lefttilt">
                </div>
                <p>This is the classic Mikuluk sedge pattern. It's big, buoyant and furry. Dope this fly with floatant and it will continue to float even after imparting lots of running motion. Those big ripples, the wake and the plopping will bring in big trout.</p>

                <div class="snapsdiv">
                    <img src="static/images/patternCaddis2.JPG" alt="patternCaddis2" class="snaps righttilt">
                </div>
                <p>Another take on the Mikuluk this one with foam wing so it floats even better.</p>

                <div class="snapsdiv">
                    <img src="static/images/patternCaddis3.JPG" alt="patternCaddis3" class="snaps lefttilt">
                </div>
                <p>Some of these adult patterns are bigger with more profile than the natural but it ends up being an impressionistic representation because your fly will always be moving.</p>

                <div class="snapsdiv">
                    <img src="static/images/patternCaddis4.JPG" alt="patternCaddis4" class="snaps righttilt">
                </div>
                <p>I developed this pattern after the style of steelhead skating patterns.That foam wing has great buoyancy.</p>

                <h2 class="newsubsection">Emerger Caddis patterns</h2>
                <div class="snapsdiv">
                    <img src="static/images/patternCaddis5.JPG" alt="patternCaddis5"  class="snaps lefttilt">
                </div>
                <p>An emerging pupa. Lots of hairy junk dragging behind.</p>

                <div class="snapsdiv">
                    <img src="static/images/patternCaddis6.JPG" alt="patternCaddis6" class="snaps righttilt">
                </div>
                <p>Classic style wet flies work well as a pupal swimmer.</p>

                <div class="snapsdiv">
                    <img src="static/images/patternCaddis7.JPG" alt="patternCaddis7"class="snaps lefttilt">
                </div>
                <p>Green is a key color. This pattern is more realistic than the other two but actually the shaggy flies work a little better.</p>
                       
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
