<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Caddis Patterns on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/caddispattern.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Fly Patterns Imitating Caddis Flies</h1>
            </div>
            <div id="contents">
                    <h2>Caddis patterns</h2>
                    <p>Caddis flies and especially the big sedges are a veeeery exciting hatch to get in on. The fly patterns for caddis should stay in the grey and olives to an almost tan for color and there is often a lime green color to the abdomen of the adults. Both forms are hairy with hairy legs and lots of trailing antennae and legs. On the swimming emergence everything gets swept back and the adult carries its wings and antennae laid back. Fish the emerging nymph in a slow and steady arcing rise to the surface. The adult should be fished with lots of action interspersed with little pauses. Trout key on the disturbance on the water as much as the silhouette of the adult.</p>
                    <img src="static/images/patternCaddis1.jpg" alt="patternCaddis1" class="patternPic">
                    <p>This is the classic Mikuluk sedge pattern. It's big, buoyant and furry. Dope this fly with floatant and it will continue to float even after imparting lots of running motion. Those big ripples, the wake and the plopping will bring in big trout.</p>
                    <img src="static/images/patternCaddis2.JPG" alt="patternCaddis2" class="patternPic">
                    <p>Another take on the Mikuluk this one with foam wing so it floats even better.</p> 
                    <img src="static/images/patternCaddis3.JPG" alt="patternCaddis3" class="patternPic">
                    <p>Some of these adult patterns are bigger with more profile than the natural but it ends up being an impressionistic representation because your fly will always be moving.</p>
                    <img src="static/images/patternCaddis4.JPG" alt="patternCaddis4" class="patternPic">
                    <p>I developed this pattern after the style of steelhead skating patterns.That foam wing has great buoyancy.</p>
                    <img src="static/images/ads.png" alt="ads" id="ads">
                    <img src="static/images/patternCaddis5.JPG" alt="patternCaddis5" class="patternPic">
                    <p>An emerging pupa. Lots of hairy junk dragging behind.</p>
                    <img src="static/images/patternCaddis6.JPG" alt="patternCaddis6" class="patternPic">
                    <p>Classic style wet flies work well as a pupal swimmer.</p>
                    <img src="static/images/patternCaddis7.JPG" alt="patternCaddis7" class="patternPic">
                    <p>Green is a key color. This pattern is more realistic than the other two but actually the shaggy flies work a little better.</p>
                       
            </div>
        </div>
