<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout chironomid patterns.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chironomid Patterns on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/chironomidPattern.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Fly Patterns Imitating Chironomids</h1>
                <h2>Chironomid patterns: a static presentation</h2>
                <p>Chironomid patterns are best tied with some weight. When you select a pattern (either to tie or purchase) look for some extra weight to help it sink to depth. A heavy wire hook or a bead head will be lots. These flies work exceedingly well and durability is an issue. Exposed tinsel or peacock herl will not survive many fish. I began with flimsy patterns and was a slave to the vise. I started my quest for durability with stretch rubber body material and clear nail polish coatings and that helped. Eventually they introduced UV epoxy and it was a miracle. Tie your pattern and then coat it with UV and set it and you have serious durability. It's not bombproof but a fly can last all day if you're lucky and you'll certainly be tying less. The British call this style a buzzer and a youtube search will get you onto the method.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid1.JPG" alt="patternChironomid1" class="snaps lefttilt">
                </div>

                <p>This is a bloodworm. This represents the larval form, tie/buy it in red or olive and slim.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid2.JPG" alt="patternChironomid2" class="snaps righttilt">
                </div>
                <p>The black and red. Most chironomids are black or grey. They often feature a little red on the tail, this is residual hemoglobin from their oxygen poor early life. When its time to hatch they leave their mud tubes and enter the water column. They wiggle in a weak attempt at swimming but that doesn't get them far and they end up suspended just above the bottom for qite a while. Eventually gas will build up between the inner and outer skins and that will get them rising. The trapped gas will act like mirrors on the segments of the body and that's the origin of the "chromie" pattern. Adding varying amounts of tinsel or flash material to the body will mimic this phenomenon.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid3.JPG" alt="patternChironomid3"class="snaps lefttilt">
                </div>
                <p>Green is another important color especially in marl bottom lakes. Usually the green chironomids are much smaller and the have visible gills less often.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid4.JPG" alt="patternChironomid4" class="snaps righttilt">
                </div>
                <p>Heres a tiny green with a tungsten bead, some flash and a hint of orange in the tail. Sinks fast and works well. Don't ever be afraid to fish tiny chironomid patterns, fish never outgrow them. The big fish on the home page were all taken on small chironomids.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid5.JPG" alt="patternChironomid5" class="snaps lefttilt">
                </div>
                <p>A variation on the greens is the carrot. A little bigger and with a faded coloration from green to tan to orange kind of like a fresh carrot.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid6.JPG" alt="patternChironomid6" class="snaps righttilt">
                </div>
                <p>Nylon gills can really help you match the hatch.</p>
                <div class="snapsdiv">
                    <img src="static/images/patternChironomid7.JPG" alt="patternChironomid7" class="snaps lefttilt">
                </div>
                <p>The most common sizes will be 16/14/12 for you chironomid patterns. Always have a few 18's and some larger sizes as well. In some lakes at certain times there are huge chironomids called bombers that look like the others but can be 3/4" long! Chironomids are easy to tie and don't use up much material so always be well stocked.</p>
                       
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
