<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout understand chironomids.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chironomids on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/chironomidBug.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>
            <section>
                <h1>Chironomids: The most important prey item.</h1>
                <h2>Chironomid fishing is the most productive technique for fishing trout in a lake. Full stop. </h2>
                <p>No other method is as consistent. No other hatch can focus trout like this one. Trout of enormous sizes eat chironomids.  When you get on a hatch and figure it out you can easily catch 30 trout in a day. You rarely ever catch a trout that doesn’t have at least a few chironomids in its stomach. I can’t overstate how important this fly is to your lake fishing. Let’s go over what we need to succeed with chironomids.</p>

                <h2>Chironomids by Any Other Name</h2>
                <p>Chironomid is the Latin, that’s what scientists call them and that’s what fly fishers in western Canada call them. In the US they call them midges. In the UK they’re buzzers. In the aquarium business they’re bloodworms. Same bug.</p>

                <h2>Chironomids are the life in a lake.</h2>
                <p>The larvae of chironomids are in the mud of your favorite lake. There’s thousands per square meter. The model in your mind should be that the bottom is half mud, half chironomids. There’s tons of them.</p>

                <h2>The Bite Count</h2>
                <p>Chironomids are tiny and when they come off there’s a plague of them. Trout will eat hundreds in a day. Each time they eat one they must bite and as a person that waits for bites the significance of this should not be lost on you. Trout in  a hatch of chironomids are like the game show contestant in the wind tunnel trying to snatch dollar bills before the time is up. They see anything like the pupae hatching and they bite first and ask questions later. A single chironomid is tiny, so trout will need to make it up on numbers. Its like a shark feeding frenzy but they’re in a frenzy for that one size/shape combination.</p>


                <h2>Chironomid Larva : Bloodworms</h2>
                <p>The chironomid spends most of its life as a larva. Basically this is a tiny worm that lives in the mud out of harms way. Every so often chironomid larva will feel an urge to relocate to a different spot in the water column. This is often at a time of change in the lake temperature or water column turnover. Think early spring and later fall.</p>
                <div class="snapsdiv">
                    <img src="static/images/chironomidLarvae.png" alt="chironomid larva" class="snaps ">
                </div>
                <p>The name bloodworm is owing to the hemoglobin in the blood of these insects. They need it to live in oxygen poor water. The hemoglobin makes the color of many larva a vibrant candy red. Green is another common color.</p>

                <p>The body shape is a segmented tube, it’s a worm. There are tiny prolegs at both ends and you may wish to include this feature in patterns you tie. The size is similar to a grain of long grain rice and maybe thinner.</p>
                <h2>Chironomids hatching:Pupa Rising</h2>
                <p>When the water temperature is just right around some patch of mud in the lake the chironomids will begin hatching. The pupa emerge from their mud tubes and wriggle. Eventually gas will get trapped inside the shuck and the chironomid will rise as it wriggles. Until that time the pupae will just hang above the mud. The time between leaving the mud and gassing up is significant and large numbers of pupae will “stage” near the bottom. Eventually they sort of gradually boil off and rise to the surface to emerge as flies. </p>
                <div class="snapsdiv">
                    <img src="static/images/chironomid pupa.jpg" alt="chironomidPupa" class="snaps lefttilt">
                </div>
                <p>Trout will cruise a lake searching. If they find chironomid pupa they will stick to the spot. Expect to find a correlation between the position of the pupa in the water column and of the trout eating them. Some fish will be feeding at all levels but most fish, and the best fish focused on the highest density of pupa just above the mud. </p>

                <p>The chironomids have a strange wriggling, thrashing motion. They struggle but it’s not really swimming, they take periodic rests and slowly, they rise to the surface.</p>

                <p>The shape of the pupa is carrot shaped. The size can range from basically plankton to 1 inch(25mm). The color range includes black, brown and green. Black and brown specimens often have a red color leftover from their larva stage in the tail segments. Green chironomids are usually on the small end. All pupa can have a mirrored appearance due to the gas trapped between the body and the shuck. It looks just like a mirror or a highly polished piece of silver. Gills are another common feature, looking like two white fronds on either side of the head.</p>

                <p>Never ever let the size concern you. 10 pound trout will greedily eat size 18 chironomids.</p>

                <h2>Chironomid Adults: Most Significant as an Indication</h2>

                <div class="snapsdiv">
                    <img src="static/images/chironomidAdult.png" alt="chironomidPupa" class="snaps righttilt">
                </div>
                <p>Trout will eat adult chironomids but it’s not a meaningful source of feed, they greatly prefer the pupa. The adult fly will, however, show you where the hatch is happening and you can get on it and fish a pupa. Here are some signs to guide you to the good spots.</p>

                <p>Swallows love adult chironomids and they’ll work a tight circuit over a hatch, running loops close to the water. This can be seen at great distances. </p>

                <p>Adult flies and freshly discarded shucks will run down the wind like smoke out of a chimney. As you get nearer the hatch you can follow the trail until you start to see emerging flies.</p>

                <p>If you are over a hatch you will see wriggling pupa coming up and stopping at the surface film to emerge as an adult fly. The pupa don’t swim they just rise so if you look over the gunwales and see emerging adults you are right on top of it.</p>
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
    </body>
</html>    
