<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Damsels on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/damselBug.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Damsels: an exciting hatch!</h1>
            </div>
            <div id="contents">
                <h2>Damselfly Nymph Patterns are Fun to Fish</h2>
                <p>Damsel flies are the diminuitive cousins of the dragons. They have a similar look, the adults look like skinny  blue dragonflies. They share similar way of living, both are underwater predators in their nymphal phase. For the fly fisher damsels offer an opportunity to fish a really fun, exciting presentation that can end in jarring takes. Lets get to know this delicate fly.</p> 

                <h2>Damselfly Nymphs Appearance</h2>
                <p>The nymph is the most important stage to consider for fishing. Reaching a length of up to about an 
                1 ¼”(35mm) but with a very thin body, they are one of the larger trout prey items. The head has large eyes and on the tail there are three gill fronds. The legs sprawl out when the fly isn’t swimming. The colors are on the standard lake bottom invertebrate spectrum…olive to brown.</p> 

                <img src="static/images/DamselNymph.png" alt="damselNymph" id="damselNymph">

                <h2>Damsels are Swimmers</h2>
                <p>Nymphs live a life similar to dragons, hunting amongst cover and eating animals smaller than itself. Often they are basically concealed and that’s a measure of safety against cruising trout. Damsels will also take off and swim around and that’s what makes them important to our fishing. This is of course risky behaviour with trout in the lake, and when trout take a swimming damselfly nymph they often take it forcefully. When swimming the nymph has a side to side tail stroke reminiscent of an alligator. They swim at all depths and its quite common to see one swim by in the topwater while you’re anchored up fishing.</p> 

                <img src="static/images/ads.png" alt="ads" id="ads">

                <h2>Seasonal Migration</h2>
                <p>Mature damselfly nymphs will be ready to leave the lake in early summer. They pick up from wherever they are and begin the swim to shore. Damsel nymphs will swim around at all times but during the season of emergence there are a lot of nymphs swimming towards the edge. When they make landfall the nymphs crawl up a reed or some duckgrass and that’s where they will split and emerge as an adult.</p> 

                <img src="static/images/damselAdult.png" alt="damselAdult" id="damselAdult">

                <h2>Damselfly Tenerals Fall in the Water on a Regular Basis</h2>
                <p>A newly hatched adult damselfly is a teneral. They are basically just like the standard adult but they are olive green and their ability to fly is pretty rough. As they dry out after hatching on the weed shoreside they can easily be picked up by any gentle breeze. Although the teneral can fly it’s not a strong flyer and many end up on the water. Ditching in the water is a death sentence in most cases, the drowning flies will flutter and struggle to no avail sending out concentric rings in the water. Trout that notice these death throws will move to end it immediately with a splashy take. After a day or so the damsels will have mastered flying and in their new blue colors</p> 

                <img src="static/images/damselTeneral.png" alt="damselTeneral" id="damselTeneral">

                <h2>How to Detect the Emergence</h2>
                <p>First be aware of the timing, it’s usually may or june depending on water temperatures/weather.Look for tenerals shoreside as you launch your boat. When you get onto the lake if you start seeing a lot of actively swimming damsels it’s probably time to think about trying a damsel pattern. When it really gets going damsels will be climbing out of the water and up your anchor lines to hatch in your boat. I recommend you heavy up your leader and steady your nerves before you get started!</p> 
            </div>
        </div>
    </body>
</html>  
