<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout dragon patterns.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dragonfly Patterns on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/dragonPattern.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>
            <section>
                <h1>Fly Patterns Imitating Dragonflies</h1>
                <h2>Dragonfly Nymph Patterns: Big bait!</h2>
                <p>Big bait for big fish! Dragonflies are only taken by trout in their nymphal stage. The  nymphs are available all year but they are most vulnerable during their early summer migration to shallow water to hatch. The nymphs will make their way to the shallow edges to find a cattail or a branch to clamber out of the water and then hatch. Dragons can be trolled or retrieved. You want to be either fairly deep or close to the bottom. The sunk line floating fly method detailed on this site is great for getting a big dragon pattern down to the bottom with hanging up.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern1.JPG" alt="dragonPattern1" class="snaps righttilt">
                </div>
                <p>Have fun tying big dragons! This one has a body of hollowed out paracord.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern2.JPG" alt="dragonPattern2" class="snaps lefttilt">
                </div>
                <p>Sometimes designing a good dragon pattern is like naval architecture. This big pattern (size 4) just achieves positive buoyancy by balancing metal dunbbell eyes and a foam body. Great for sunken line floating fly techniques.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern3.JPG" alt="dragonPattern3" class="snaps righttilt">
                </div>
                <p>Beadchain eyes balanced with foam and a shaggy dub.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern4.JPG" alt="dragonPattern4" class="snaps lefttilt">
                </div>
                <p>Rubber legs add life to a pattern.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern5.JPG" alt="dragonPattern5" class="snaps righttilt">
                </div>
                <p>Here again balancing the buoyancy, this time foam eyes lifting a heavier hook.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern6.JPG" alt="dragonPattern6" class="snaps lefttilt">
                </div>
                <p>with light plastic eyes this pattern will sink slowly.</p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern7.JPG" alt="dragonPattern7" class="snaps righttilt">
                </div>
                <p>Dragonfly nymphs will go through many "instars" as they develop. At the end of each stage they need to shed their shell. The nymphs are usually very well camouflaged in drab olives and browns but for a short time after they moult the nymphs will be a bright key lime pie green. Until their color settles down they are extra vulnerable to trout and fish will key in on this color. </p>
                <div class="snapsdiv">
                    <img src="static/images/dragonPattern8.JPG" alt="dragonPattern8"  class="snaps lefttilt">
                </div>
                <p>Dragonfly nymphs come in a big size range from the size of a kidney bean to the size of your thumb. Don't forget to have a variety of colors and sizes.</p>
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
