<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dragonfly Patterns on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/dragonPattern.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Fly Patterns Imitating Dragonflies</h1>
            </div>
            <div id="contents">
                    <h2>Dragonfly Nymph Patterns</h2>
                    <p>Big bait for big fish! Dragonflies are only taken by trout in their nymphal stage. The  nymphs are available all year but they are most vulnerable during their early summer migration to shallow water to hatch. The nymphs will make their way to the shallow edges to find a cattail or a branch to clamber out of the water and then hatch. Dragons can be trolled or retrieved. You want to be either fairly deep or close to the bottom. The sunk line floating fly method detailed on this site is great for getting a big dragon pattern down to the bottom with hanging up.</p>
                    <img src="static/images/dragonPattern1.JPG" alt="dragonPattern1" class="patternPic">
                    <p>Have fun tying big dragons! This one has a body of hollowed out paracord.</p>
                    <img src="static/images/dragonPattern2.JPG" alt="dragonPattern2" class="patternPic">
                    <p>Sometimes designing a good dragon pattern is like naval architecture. This big pattern (size 4) just achieves positive buoyancy by balancing metal dunbbell eyes and a foam body. Great for sunken line floating fly techniques.</p>
                    <img src="static/images/dragonPattern3.JPG" alt="dragonPattern3" class="patternPic">
                    <p>Beadchain eyes balanced with foam and a shaggy dub.</p>
                    <img src="static/images/dragonPattern4.JPG" alt="dragonPattern4" class="patternPic">
                    <p>Rubber legs add life to a pattern.</p>
                    <img src="static/images/ads.png" alt="ads" id="ads">
                    <img src="static/images/dragonPattern5.JPG" alt="dragonPattern5" class="patternPic">
                    <p>Here again balancing the buoyancy, this time foam eyes lifting a heavier hook.</p>
                    <img src="static/images/dragonPattern6.JPG" alt="dragonPattern6" class="patternPic">
                    <p>with light plastic eyes this pattern will sink slowly.</p>
                    <img src="static/images/dragonPattern7.JPG" alt="dragonPattern7" class="patternPic">
                    <p>Dragonfly nymphs will go through many "instars" as they develop. At the end of each stage they need to shed their shell. The nymphs are usually very well camouflaged in drab olives and browns but for a short time after they moult the nymphs will be a bright key lime pie green. Until their color settles down they are extra vulnerable to trout and fish will key in on this color. </p>
                    <img src="static/images/dragonPattern8.JPG" alt="dragonPattern8" class="patternPic">
                    <p>Dragonfly nymphs come in a big size range from the size of a kidney bean to the size of your thumb. Don't forget to have a variety of colors and sizes.</p>
                    
                    
                       
            </div>
        </div>
