<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dragons on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/dragonBug.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Dragonflies: Big bait for big fish</h1>
            </div>
            <div id="contents">
                <h2>Dragonflies: a big meal for a trout</h2>

                <p>Dragonflies are a very important prey item for trout in a lake. You’re going to want a good understanding of this food item so you can imitate the nymph and catch trout that are feeding on them. Here are some important things you should know about dragonflies.</p> 

                <h2>The Adults Don’t Matter</h2>
                <p>The only dragonflies regularly eat are nymphal forms in the water so we can forget about the adults.</p> 

                <h2>Size</h2>
                <p>Dragonflies are one of the biggest invertebrates in the lake. Nymphs feed and grow for several years and when the underwater part of their life cycle is finished then can be over 3 inches(75mm) long. A big bodied nymph like that represents a lot of energy for the trout. We don’t always want to represent the largest nymphs but we need an understanding of the size range when we choose flies.</p> 

                <img src="static/images/dragons.png" alt="dragons" id="dragons">

                <h2>Year Round Availability</h2>
                <p>Trout eat dragonflies all year. Many invertebrates are seasonally available to trout. Some invertebrates only expose themselves in a way trout can capitalize on occasionally. Dragonfly nymphs although secretive, are always around. </p> 

                <h2>Increased Summer Availability</h2>
                <p>Trout eat dragonflies whenever they see them but they will see a few more during the shoreward migration of the nymphs. In early summer those nymphs that have matured will start to make their way to the shoreline. They’re leaving the water for the next phase of their life as flying adults. Once they reach the edge of the water they crawl up a piece of vegetation where they will split and the adult emerges. Whenever they move dragonfly nymphs are exposed to trout and this migration is their biggest move. How will you know this is happening? Well, before it happens there are no adult dragonflies around. When the adults first start showing up you might notice the nymphs crawling up a cattail as you launch your boat or see them more regularly in the shallow waters. Be a good observer and watch for this phenomenon in early summer.</p> 

                <img src="static/images/ads.png" alt="ads" id="ads">

                <h2>Two important types: Darners and Gomphus</h2>
                <p>You don’t need any Latin here! For an angler its enough to know that there are two general types of dragonfly nymph. They look and move differently.</p> 

                <p>Gomphus have a build like a spider, with a rounder body and big eyes. These nymphs often have algae on their shells and they can stay still for long periods. Trout get these less often than the darners just because they see them less. They love them just as much! A slower hand twist retrieve is best or even a static presentation.</p> 

                <p>The Darners are really long in the body with a big head. Of the two types this is the larger. Full size nymphs are really huge getting past 3”(75mm) long. They are a little more active than the Gomphus and they swim more. They swim by slowly undulating or by jet propulsion with a jet of water from their rear ends. Mimic the movement of the darner nymph with a slow hand twist retrieve and occasionally add in a little darting of a few inches.</p> 

                <h2>Camouflaged and Secretive</h2>
                <p>The nymphs come in an array of colors from light olive to deep brown. They really blend into their surroundings. Many Gomphus nymphs will have a shaggy coat of algae on their shell. These predators live close to the bottom around small cover and weed. Movement is minimal unless they are hunting and or relocating.</p> 

                <h2>After a moult Nymphs are A Dangerous Green Color.</h2>
                <p> As they grow dragons have to shed their exoskeleton. The old shell is well camouflaged but the new shell is often a bold lime green color to start. Eventually the shell will color up and the dragon will be well concealed but until then they in danger. Having a few lime green variants is a good idea.</p>
            </div>
        </div>
    </body>
</html>  
