<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Other Gear on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/gear.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Some Other Helpful Gear and Tackle</h1>
            </div>
            <div id="contents">
                    <h2>Fishing tackle and other Equipment for Fly Fishing a Lake</h2>
                    <p>Lets go through some of the gear you need to think about bringing with you beyond the rod and reel. </p>
                    
                    <p>In some cases I am making recommendations. I want to be clear that in these cases I make the recommendation based on very positive personal experiences with that product. There are absolutely no sponsored recommendations here.</p>
                    
                    <h2> A Tacklebox might be better than a Fly Fishing Vest</h2>
                    <p>A flyfishing vest is not needed if you’re in a boat. Instead find a generously sized plastic tacklebox and sort your tackle into it. The convenience is wonderful and not wearing a heavy vest is much better.<p>
                    
                    <h2>Fly Tackle for the Lake Fisher</h2>
                    <p>You will need a lot of tackle. Here’s a good start:</p>
                    <ul>
                    <li>Your fly boxes of course. </li>
                    
                    <li>Having a sharp point on the hook is important and a good diamond hone will touch up any dull hook. </li>
                    
                    <li>You will want some indicators and some tiny swivels. </li>
                    
                    <li>A pair of haemostats to disgorge hooks and needle nose pliers to crush barbs. </li>
                    
                    <li>A throat pump to sample the trout’s stomach contents and a small glass jar to examine the sample in. Match that hatch! </li>
                    
                    <li>A pair of toenail clippers to nip line. I wear mine on a lanyard around my neck. </li>
                    
                    <li>A nail knot tool. </li>
                    </ul>
                    
                    <h2>You need Several Sizes of Monofilament Fishing Line</h2>
                    <p>You  will need mono in a few test strengths for your tippets likely 4, 6, and 8 pound test. 
                    Choose to use factory built tapered leaders or  build your own with blood knots. If you build your own include 10,12, 15 and 20 pound test as well. I’ve tried many different monofilaments and fluoro leader materials and in the end I returned to Maxima ultragreen. It has low memory, good resistance to abrasion, forms knots that aren’t brittle or burnt and the color blends well in the water. </p>
                    
                    <img src="static/images/maxima.png" alt="maxima" id="maxima">
                    
                    <h2>Get a Net That Works Well With the Boat You’re In</h2>
                    <p>Don’t forget your net. A small fish goes easily into a big net but the opposite is not true so bring enough net. If you’re in a boat make sure there’s enough handle to reach. A soft net bag is important to keep the fish in good health on a release, please no abrasive nylon cord. Moby nets makes the finest nets I’ve ever come across and I use a Moby whale myself. See their fine nets here:  </p>
                    <a>http://www.mobynets.com/</a>
                    
                    <img src="static/images/mobyNets.png" alt="mobyNet" id="mobyNet">
                     
                    
                    
                    
                    <h2>Depth Sounders are Incredibly Helpful</h2>
                    <p>A sounder gives you essential information about the water you’re fishing in real time.. Your sounder will tell you the surface water temperature, the depth, if there are fish around and often the bottom type. There’s a lot of difference between simple sounders and very high end models but really there’s little difference in the readings.</p>
                    
                    
                    <h2>Anchors to Hold Your Boats Position</h2>
                    <p>You will need two anchors one for the bow and one on the stern.  You don’t need a traditional boat anchor, many people simply use a lead weight. The bottom of good lakes is mud and it holds almost any shape of anchor well. Cannonballs intended as weights for a downrigger make a good anchor even better is a big lead pyramid weight. Make sure the anchors are heavy enough, for a small boat 10-15 pounds is lots on a bigger boat better to be close to 20.</p>
                    
                    <p>An anchor block is much faster and easier than tying off. To let off the chock simply raise the main line. Once the chock is up either pull in or let down. When you’re finished lower the main line, the chock will roll in and the anchors are held fast.</p>
                    
                    <p>You can only anchor when the anchor line reaches the bottom. Go 75 feet at least.</p>
                    
                    <p>Scotty plastics makes a really great anchor block.</p>
                    
                    <img src="static/images/scottyBlock.png" alt="scotty" id="scotty">
                    
                    <h2>Sun Protection is a Must While You’re on the Lake</h2>
                    <p>I know no better way to burn one’s self to a crisp than fishing. Even on an overcast day you can get a burn. Don’t risk eye damage or skin cancer! Wearing sunglasses protects you eyes from sun damage and from fly hooks as well. Wear some 50 spf, don’t forget the lip block and remember hands necks and feet will burn just as well as the nose. A hat will prevent sunstroke and a buff or a hood will shield your neck.</p>
                    
                    
                    <h2>Rain Gear Keeps you on the Water in Tough Conditions</h2>
                    <p>Some good light rain gear will be worth it’s weight in gold. Continue fishing in spite a of cool rainy weather and stay comfortable all the while with some decent raingear, tops and bottoms. The best fishing is in the spring but not the best weather, be prepared.</p>
                    
                    <h2>Make Wearing a Lifejacket Part of your Routine</h2>
                    <p>Most years around here we read in the paper that another fisherman has sadly drowned. The best fishing happens when the water temperature is around 50F (10C) and at that temperature you might not make even a short swim to shore before succumbing to hypothermia. A life jacket will help keep you safe if you’re wearing one. Wearing it, not sitting on it. The modern type V life jackets, the slim, jerk to inflate sort, are so comfortable and convenient you can and should wear them at all times. </p>
                    
                    <p>It goes without saying no child should be in the boat without wearing a lifejacket. Teach them the right way. </p>
                    
                    <img src="static/images/lifejacket.png" alt="lifejacket" id="lifejacket">
                    
                    
                    <h2>Other items</h2>
                    <p>There’s a few more things to consider. If you plan to keep any fish a cooler and some ice will keep your catch fresh. Water to drink and a snack(and by snack I mean dill pickle flavored sunflower seeds.) Always have more clothes than you need it’s always cooler on the water. A headlamp is nice if you fish early or late. Remember your glasses or a cap bill magnifier if you need them and everyone does eventually. Don’t forget your camera and maybe a tripod or mount in case of good luck. </p>
                    
                    <h2>Develop an organized system in your Fishing Boat</h2>
                    <p>I fish out of a boat and to manage the gear I’ve made up a system to handle the tackle and gear. I have all my tackle in a large tacklebox and all the other gear in a Rubbermaid tub. The anchors and ropes are in a plastic milkcrate. To head out for a fish I need my two rod tubes and the three boxes. It makes it near impossible to forget something and you never even have to think about it.</p>     
            </div>
        </div>
