<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout with an indicator.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Indicator Fishing on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/indicator.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Fishing chironomids with the indicator</h1>
                <h2>Indicator fishing is the most effective method for fly fishing a lake.</h2>
                <p>When people start flyfishing lakes they learn new fishing techniques. Often trolling is a first step and cast/retrieve styles are often adopted early. Typically one of the last things new fishers get around to trying is fishing a fly under an indicator. That’s tragic because fishing the indicator is a simple and deadly way to present a fly to trout. The technique also offers learning opportunities to new anglers that other methods can’t. Lets explore indicator fishing. </p> 

                <div class="snapsdiv">
                    <img src="static/images/indicatorBoat.png" alt="indicatorBoat" class="snaps ">
                </div>
                <h2>Indicator rig anatomy</h2>
                <p>The biggest barrier  to overcome when indicator fishing the first time is probably just the setup of terminal tackle. Lets find out what we need on the fish’s end.</p> 

                <h2>Lines for the indicator rig</h2>
                <p>We can start with the line. You want to use a full floating line. The line you have is going to be fine. If you need a new line and think you’ll be mostly fishing an indicator here’s some food for thought. The Indicator rig often has a long leader and that indicator adds extra mass. This will make it harder to turn over. You might want to look at lines on the heavier side of manufacturers guidelines or in a more forward weighted configuration. A simple fix is to go up one line size. The extra weight in the line will make the rig behave and there is no concern about an indelicate presentation because you’re after fish well below the surface.</p>

                <h2>Leaders that work with an indicator rig</h2>
                <p>The leader is the next item after the fly line. Tapered leaders are the norm for fly fishing because they smooth the energy transfer from fly line to fly and result in a gentle landing without splash. Delicate presentations like this are meaningless when you’re trying for fish 8 or more feet under the surface so we can forgo the extra trouble.</p>

                <p>A simple leader in two pieces is best. A heavier piece of mono say 10 or 12 pound test will connect  to the fly line via back to back loops. Carry on and connect the heavy section to a small swivel with an improved clinch. The lighter section needs to be small enough to be missed by the fish yet strong enough to hold him, something like 5 pound test. This attaches to the other end of the swivel with a clinch and to the fly with a mono loop knot.</p>  

                <p>The length of the leader is the sum of it’s two parts and that length is the maximum depth you will be able to reach. The light section should always be 3 feet. The heavy section should be long enough to allow you to reach whatever depth you require. Depths of about thirty feet are possible with a correspondingly long leader. Beyond that length casting becomes problematic and its best to try the straight-down, sink line technique.</p> 

                <h2>The indicator itself</h2>
                <p>The indicator does two jobs. The first is to give you visual indication that something is moving your fly. The second function of the indicator is to control the depth of your fly. After it lands the fly will slowly descend until the buoyant indicator stops it.</p> 

                <h2>Two piece release indicators are best</h2>
                <p>When you set a fixed bobber on your rig you’re stuck with it in that position. If you’re fishing twenty feet deep that indicator is twenty feet away from the fly. Once you hook a fish and reel it in the bobber will be at the tip of the rod preventing you from reeling in further. At that point if you raise your rod tip the fish is still ten feet down and in no position for the net.</p>

                <p>Release bobbers solve this problem. You set the bobber at whatever distance from the fly you need for fishing a specific depth. When you start fighting the fish the extra tension on the line causes the bobber to unbutton from its set position on leader. The indicator is still attached to the leader but it’s free to slide and it ends up sliding down to the down to the swivel.</p> 

                <p>Probably the best tool for the job is the two piece release bobber consisting of a foam body and a plastic pin. They come in a variety of colors, sizes and shapes. I personally prefer a two toned indicator. I always set the bobber with the same colors oriented to the rod tip and fly respectively. If you notice that the wrong color is facing you likely have some kind of a snarl and you’d best pull in and check.</p> 

               <h2>Mono loop knots</h2> 
                <p>The mono loop is a knot that doesn’t bite down on the hook eye, instead it holds the eye with a round loop. Instead of being fixed in line with the leader the fly now has freedom to find it’s own position. There are few fly presentations that don’t benefit from this freedom. Chironomids hang in a natural up and down orientation, leeches with a weighted head tend to undulate more. The extra freedom almost always makes the presentation more natural and less stiff. There’s no downside, this knot is strong and easy to tie.</p> 

                <h2>Exacting depth control</h2>
                <p>Now that we have the rig assembled lets look at what makes it great. The first advantage we get is a really precise depth control. The fly will sink quicker with a weighted pattern and a swivel helps get the sinking started by breaking water surface tension. The fly will end up directly below the indicator. The depth of the fly is decided when you set the bobber. The maximum depth you can fish is the length of whatever leader you’ve allowed yourself, there’s no minimum.</p>

                <p>Trout relate to the bottom. They often cruise just above the bottom and most of their prey items spend most of their time very near it. Being able to consistently put your fly in this important zone is a huge advantage. No other method offers this precision in depth control. Counting down a sinking fly and controlling it's depth with the speed of retrieve is a delicate art. Setting the bobber is a cinch. </p>

                <p>Setting the depth is one thing. Deciding on the setting is another. The depth sounder is critical to this job. When you decide where to fish if the depth is not known take a slow pass over the exact spot you plan to try and then fall back to set anchor. With an accurate reading from the sounder Now you have a number. Be conscious of sloping bottoms and ledges, you don’t want to be at the wrong depth. Set up too deep and your fly may be lying innefective on the bottom. </p> 

                <h2>Static presentations</h2>
                <p>Chironomids will stage just off the bottom for long periods during a hatch. During this time they move very little and a static presentation does the job. With a fly set for depth under an indicator you have unlimited hang time. You can keep your fly suspended at the right depth in the right spot almost indefinitely. </p>
                
                <h2>Level depth retrieve presentations</h2>
                <p>Indicators are synonymous with chironomid fishing but this isn’t their only good use. Sometimes you want to slowly retrieve a fly at a specific depth. Fishing leeches this way is the famous case and it works very well with scud patterns as well. The indicator is set and the cast fly is allowed to sink to depth. Begin retrieving slowly and with regular pauses. A weighted fly will pass slowly and at consistent depth on a slightly rising and falling trajectory. The fly is kept in the zone and the action is very natural.</p> 
                
                <h2>Indicator Fishing Accelerates Your Understanding </h2>
                <p>There is a scientific component to flyfishing. Everything you try is an experiment. Everything that happens (or doesn’t!) as a result is experimental data. With enough data you begin to see patterns emerging. This is the problem solving of the angler as she makes sense of experiences building up over time spent fishing.</p>  

                <p>All science works best with accurate data. Indicator fishing yields the cleanest answer to the question: what factors contributed to that last success?</p> 

                <p>Let’s look at the knowledge gleaned from a bite while trolling and see the gaps in the information. While trolling your fly is struck resulting in a decent fish. Knowing the factors that lead up to this event will enable you to repeat it. What exactly happened? The position of the fly at the moment of truth is relative to the position and speed of the boat and it’s affected by any curve in the boat’s path.  To confuse things further in all the excitement with the fish you have drifted away from the spot where it hit. Depth is no less a mystery. The weight of the fly and it’s hydrodynamics affect sink rate. The length of line you’re trolling also affects the sink rate and turning a boat with rods out to the sides will cause the line on the inside to fall and the outside line to rise. The fly’s position at the moment of the bite is discerned as a matter of guessing. </p> 

                <p>In contrast let’s compare a fish caught under an indicator. The boat is double anchored and is completely immobile. You know the bobber was twenty feet from the boat in bearing towards that stand of cattails. The fly itself is in turn positioned 12 feet under the bobber. Everything about the position of the fly at the moment the fish took hold is known accurately.</p>

                <p>For the new angler this clarity is a real boon. If you have a mountain of data from decades on the water the patterns in events can’t hide. For a beginner with a limited number of experiences  having accuracy in the details aids the investigation. With better data they perform better science. Without confusing inaccuracies they come more quickly to the truth.</p>
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
