<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Useful knots when fly fishing for trout.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fishing knots on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/knots.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Knots for the Fly Fisher</h1>
                <h2>What Knots will You Need to Know to Fish Lakes?</h2>
                <p>When you have a big trout on the line and he has 100 feet of line out there are probably a half dozen knots between you. You’re going to need to know a handful of knots to make all the connections from reel to hook.</p> 
                
                <p>In this section I’m linking to Animated Knots by Grog which has excellent animated instructions on how to make up each not. If you’ve never seen Grog’s then you’re in for a treat. The website deserves a bookmark and there’s an app for your phone.</p> 
                
                <h2>Start at the Reel with the Arbor Knot</h2>
                <p>The backing is the first piece of line to attach to the reel. The tried and true knot to connect to the spool is the arbor knot. It’s a simple knot to tie and one you won’t have to tie often.</p> 

                <div class="snapsdiv">
                    <img src="static/images/arborKnot.png" alt="arborKnot" class="snaps">
                </div>
                <a href="https://www.animatedknots.com/arbor-knot" target="_blank" rel="noopener">https://www.animatedknots.com/arbor-knot</a>
                
                
                
                
                <h2>The Nail Knot Connects the Backing and the Fly Line </h2>
                <p>To connect the backing to the fly line you’ll need a nail knot. This knot is trickier to tie. To make it easier make sure you’ve got some kind of tool to help you. Inexpensive metal nail knot tools are available wherever you find tackle. Make sure you keep the tool with you on the boat, the knot doesn’t come up very often but without the tool this knot is a bear.</p> 


                <div class="snapsdiv">
                    <img src="static/images/nailKnot.png" alt="nailKnot" class="snaps">
                </div>
                <a href="https://www.animatedknots.com/nail-knot" target="_blank" rel="noopener">https://www.animatedknots.com/nail-knot</a>
                
                               
                <h2>Connect the leader to the Fly Line with Back to Back Loops </h2> 
                <p>Most fly lines come with a loop in the terminal end. That loop is designed to connect with another loop, the loop tied in the butt of your leader. Make the loop in the leader butt with a mono loop knot, then thread the loops together as in the diagram. If your leader has no loop you can find instructions to make one or connect the leader with a nail knot.</p> 
                

                <div class="snapsdiv">
                    <img src="static/images/knotLoops.png" alt="knotLoops" class="snaps">
                </div>
                
                <h2>Blood knots connect Sections Of A Tapered Leader</h2>
                <p>Leaders for fly fishing have traditionally been tapered down towards the fly. This geometry weakens the transmission of energy from the fly line progressively at each step resulting in a gentle splashdown for the fly. In many lake fishing situations we don’t care how the fly lands and can get away with a level leader. When the fish are near the surface and you’re casting onto them you’ll want a delicate presentation. These conditions arise during mayfly and caddis hatches typically.</p> 
                
                <p>A factory made tapered leader is a piece of monofilament that’s fat on one end and slims down seamlessly towards the other. They come in a variety of sizes and tests, most are limited to around 9 feet.</p> 
                
                <p>You can make your own leaders if you have a range of line tests (which mean diameters.) You start with the heavy line and blood knot it to a section of lighter line. Keep repeating this, reducing the line size and you have a tapered leader. There’s a huge advantage to making your own because you can get any butt, tippet, taper and length with limits.</p> 
                
                <p>Lines of vastly different diameters do not blood knot well. You need to take small steps, I’ve found lines will play nicely in this pattern: 25-20-15-12-10-8-6-4.</p> 
                
                <h2>To build a leader you need a plan.</h2> 
                <ul>
                    <li>Start with the overall length you want your leader to have.</li>
                    <li>Split the  leader into three equal length sections, the butt, the tippet and the taper.</li>
                    <li>Next decide the tippet strength you want and the butt diameter.</li>
                    <li>The butt third is all one size, cut that piece.</li>
                    <li>The tippet is likewise one third of the length and all one size.</li>
                    <li>The taper is one third the length as well and it’s made up of as many blood knotted sections as you need to bridge from the butt to the tippet following a rough pattern of connecting 25-20-15-12-10-8-6-4.</li>
                </ul>
                              
                <p>An example leader. You’re fishing tiny mayflies in shallow water and you want a delicate presentation over the fish who are skittish in the afternoon sun. Lets use a 15 foot leader so the fish don’t see the fly line’s tip. A fine 4 pound test tippet should be near invisible and a 20 pound butt should translate enough energy down the line to turn the tiny dry fly over. We need to start with 5 feet of 20# and end with the same of 4#. The taper needs to be 5 feet stepping down from 20 to 4. One foot each of 15-12-10-8-6 will make a nice gradual taper. </p> 
                
                <p>Even if you want to use factory leaders you still need blood knots. With each changed fly you cut off more and more of you leader. When the tippet is getting short blood knot on a new tippet.</p> 

                <div class="snapsdiv">
                    <img src="static/images/bloodKnot.png" alt="bloodKnot" class="snaps">
                </div>
                <a href="https://www.animatedknots.com/blood-knot" target="_blank" rel="noopener">https://www.animatedknots.com/blood-knot</a>
                
                
                <h2>The Clinch Knot Attaches Tackle and Holds it Fast</h2>
                <p>The clinch can tie to a swivel or a hook eye. The clinch will bear down on the ring it’s tied to reducing downstream motion. That’s fine for a swivel but for many flies you want as much motion as possible and in that case a mono loop knot is better.</p> 

                <div class="snapsdiv">
                    <img src="static/images/clinchKnot.png" alt="clinchKnot" class="snaps">
                </div>
                <a href="https://www.animatedknots.com/improved-clinch-knot" target="_blank" rel="noopener">https://www.animatedknots.com/improved-clinch-knot</a>
                
                
                <h2>A Mono Loop Knot Allows Your Fly to Articulate</h2>
                <p>The mono loop allows a fly to freely swing. That means micro leeches will undulate more. Chronomids will hang vertically, which is natural. Most flies are best fished on a loop.</p> 

                <div class="snapsdiv">
                    <img src="static/images/loopKnot.png" alt="loopKnot" class="snaps">
                </div>
                <a href="https://www.animatedknots.com/non-slip-mono-knot" target="_blank" rel="noopener">https://www.animatedknots.com/non-slip-mono-knot</a>
                
                
                <p>That’s enough knots for a lifetime of fly fishing. Use a good quality mono filament and moisten your knots with saliva before you cinch them to prevent heat damage. A pair of toe nail clippers on a lanyard is a great way to nip line. Be sure to have the tying of these knots down before you head out!</p> 

            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
