<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout understand mayflies.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mayflies on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/mayflyBug.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Mayflies: Matching the Hatch</h1>
                <h2>Hatches you won’t forget</h2>
                <p>Mayflies occupy two pieces of real estate in a trouts mind. In one case it’s a cupboard staple food that’s always worth taking if you find it. In the other it’s a pie eating contest. A good mayfly hatch is like a bomb going off. We’re going to look at this insect and get to know its life cycle so we can be ready to capitolize when the hatch starts.</p> 

                <h2>A Diverse family</h2>
                <p>In water around the world there are many different types of mayflies filling many varied ecological niches. They range from tiny to really big, they come in a rainbow of colors and there are body styles to suit every lifestyle from mud burrowing to clinging firm to stones in a roaring creek. Wherever trout are they will eat the local mayfly. Trout fisherman have noticed and they have made a study of the mayfly and the result is a library full of books and thousands of tying patterns. For our purpose which is flyfishing trout in a lake environment we need to cut through this mountain of information and find the mayflies that matter to our outing. </p> 

                <h2>The Mayfly You Need to Know</h2>
                <p>In a lake the mayfly that you will likely come across will be a Callibaetis. That’s Latin which is a pain but that’s their street name as well. We’re talking about a smallish fly with a body sized about like a grain of wild rice. </p>  


                <div class="snapsdiv">
                    <img src="static/images/nunnerNymph.png" alt="nunnerNymph" class="snaps lefttilt">
                </div>

                <h2>Mayfly nymphs are taken regularly</h2>
                <p>The small Callibaetis nymphs are a creature of the weedbeds. They live in the cover of the underwater jungle. Callibaetis is a swimmer type. The insect itself is small and elongated. Prominent features are a three pronged tail and small gills lining the thorax. They can be pretty active swimmers moving in short darting pulses erratically and then falling back down to the weed. Colors are the usual range of olive to dark brown with a mottled coloration. They often have a dark back and a lighter belly.  Trout will take these at any opportunity but the nymphs are well protected by their weedy surroundings.</p> 


                <div class="snapsdiv">
                    <img src="static/images/mayflyNymph.png" alt="mayflyNymph" class="snaps ">
                </div>


                <h2>Mayfly Emergence is a Big Opportunity for Trout and Anglers</h2>
                <p>When the nymph is mature and the time is right they will emerge or hatch. The timing is driven by time of year and water temperature. Late May and early June is when mayflies hatch. When the conditions are right you can expect some kind of a hatch each day usually in the middle of the day. The hatch can be quite abrupt going cleanly from off, to on, to off again. The water in that weedy bay is quiet and then some flies start coming off and the first few rises happen. Soon the air is full of mayflies and the water is boiling with feeding trout. Maybe you manage to switch flies and get in on the fun. Finally as quickly as it started, it ends, the flies slow down and the trout disperse back into the lake.</p>  

                <h2>Emergence is a Big Risk for the Mayfly</h2>
                <p>The nymph has to leave its weedy sanctuary and make a daring run for the surface to hatch into the adult fly. They tend to make a slow deliberate swim for the waters surface. Now instead of being hidden in the weed they are completely exposed to trout. This is a time to fish a nymph pattern.</p> 

                <p>When they hit the surface it gets even worse. The nymph needs to break the surface to hatch but for small animals water tension is relatively strong. Imagine swimming from the bottom of the pool and finding that the pool cover is on. There is a period of struggle just at the surface. Specialist emerger patterns hang in the surface film and mimic this stage of the emergence.</p> 

                <p>Once the water surface tension is breached the nymph will split and the adult will emerge. They typically separate from the shuck and sit on that film of water tension they had so much trouble getting through. The mayfly will fly away when his wings inflate which only takes a minute but until then she is utterly helpless. They cant swim, walk or fly away. Fish will take these victims with little slurping rises leaving dimples in the surface. Birds also help themselves. This event can be represented with a dry fly and you can experience a part of flyfishing that writers have been laying out in all your favorite works. The new adult is called a dun. Duns are darker, often grey and have dappled dark spots in the wing. They still have their forked tails and the wings are held upright and together. Duns look like little sailboats. Eventually the lucky survivors will leave the water and flutter into nearby brush on the shore.</p> 


                <div class="snapsdiv">
                    <img src="static/images/dunn.png" alt="dunn" class="snaps righttilt">
                </div>


                <h2>Mayfly Adults are Here for a Good Time Not a Long Time</h2>
                <p>After running the gauntlet to emerge as an adult a countdown begins for the mayfly. Life for the adult is incredibly short, usually only a day or two. The darker duns will float into some nearby bush. By the time you see them on the water again they will have mated and shed their shell one more time taking on their final form, the spinner. Spinners are a little sleeker, often darker and they have clear wings without the spots. They will hover over the water in little clouds running up into the air and then falling onto the water. They’re dropping their eggs into the water. Eventually their job is done and their time is up. They expire on the water , their exhausted wings splayed out like the wings of a plane. This stage doesn’t attract as much interest from the trout but you can still catch fish on spinners. </p>

                <div class="snapsdiv">
                    <img src="static/images/spinner.png" alt="spinner"class="snaps lefttilt">
                </div>

                <h2>The signs to look for</h2>
                <p>When you arrive at the lake have a look around while you ready your boat. Are there  three tailed mayfly shucks in the water from yesterdays hatch? Are there mays in the brush when you rustle the branches? Are there spinners dancing on the water? Are swallows swooping and diving and running a pattern over a spot you know holds a weedbed? Is it May/June? Don’t let the box holding your mayfly patterns get buried and have at least one rod with a floating rod ready! Today could be a day that you will never forget!</p>
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
    </body>
</html>  
