<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mayfly Patterns on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/mayflyPattern.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Fly Patterns Imitating Mayflies</h1>
            </div>
            <div id="contents">
                    <h2>Mayfly Patterns</h2>
                    <p>Mayflies are not the most important insect in the lake...until a hatch starts. It's normal to find a mayfly nymph in a stomach sample, maybe even two. Trout take them as they find them which is infrequently around weedy shoals. The hatch of the mayflies is another thing entirely. No hatch comes on as suddenly and with such vigor. There can be nothing then the air is full of mayflies and trout are churning the water to a froth. Just as suddenly it can just stop dead. Be ready in late spring for a life altering experience. </p>
                    <img src="static/images/mayflyPattern1.JPG" alt="mayflyPattern1" class="patternPic">
                    <p>This March brown style nymph is all you really need. Classic with good reason. </p>
                    <img src="static/images/mayflyPattern2.JPG" alt="mayflyPattern2" class="patternPic">
                    <p>Cast and let the nymph sink slightly then slowly retrieve. The fly will cut a gentle arc to the surface.  </p>
                    <img src="static/images/mayflyPattern3.JPG" alt="mayflyPattern3" class="patternPic">
                    <p>There is much written about mayflies and many many patterns to choose from.</p>
                    <img src="static/images/ads.png" alt="ads" id="ads">
                    <img src="static/images/mayflyPattern4.JPG" alt="mayflyPattern4" class="patternPic">
                    <p>Always have a few dries. Even at the peak of the hatch trout prefer to target the nymph but you may prefer to catch them on dries.  </p>
                    <img src="static/images/mayflyPattern5.JPG" alt="mayflyPattern5" class="patternPic">
                    <p>Emerger styles can be a more effective dry fly.  </p>
                       
            </div>
        </div>
