<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Boat Motors on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/motors.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Motors for the lake</h1>
            </div>
            <div id="contents">
                    <h2>What’s propelling the boat?</h2>
                    <p>If you’re in a boat you have options for the drive. Let’s look at the ins and outs of propulsion options.</p>
                    
                    
                    
                    
                    <img src="static/images/electricMotor.jpg" alt="electricMotor" id="electricMotor">
                    <h2>Electric Motors</h2>
                    <p>Electrics are great for small boats. They come in a range of thrusts for different applications. If you do any trolling at all they throttle down very well. In many lakes electric motors are the only type allowed by law to protect the lake environment. The electrics have zero emmissions and that protects some sensitive invertebrates like travelling sedges.  Get a good deep cycle battery for your electric. Electric motors drain that battery quickly when you run full throttle for any amount of time. Experiment with battery life on short trips if you can. Be sure you have the ability to get out if the battery dies!</p>
                    
                    <img src="static/images/yammy25.png" alt="yammy25" id="yammy25">
                    <h2>Gas Outboard Motors</h2>
                    <p>Gas motors are powerful and versatile. You can get any HP rating guaranteeing a good fit for your application. Unlike a battery that needs a charger all you need for a gas motor is a jerry can making it ideal for multi day trips and easy to refuel. </p>
                    <p>Todays small 4 stroke outboards are reliable but they have tiny carburators that need maintenance. They use so little fuel and are so small gas deposits will eventually foul them. Get your carbs cleaned annually to avoid trouble.</p>
                    <p>I have a 15 foot boat and the main motor is a 20 HP outboard. That boat will travel at 40 kmph and that get’s you wherever you want to go without the delay. You don’t have to mull over moving to the other side of the lake, just go. If it’s not as good just come right back. I also have a 2.5 HP gas engine I use for lakes with a 10 hp restriction. This pushes the boat slowly like a big electric but it’s more convenient than dealing with batteries.</p>
                    
                    <img src="static/images/ads.png" alt="ads" id="ads">
                    <h2>Oars in every case</h2>
                    <p>Every boat needs some good oars and oarlocks. Even if you use something else as main power you need those oars to be servicable in case of engine failure. Don’t be that guy trying to make shore after the engine coughs out with one moldy canoe paddle.</p>
                    <p>The oars need to be in good shape. Keep them inside during the winter and hit them with some sandpaper and spar varnish if they need it. </p>
                    <p>The oars also have to work. Be sure they have oarlocks that fit the sockets on the gunwales. They also have to be the right length to actually move the boat efficiently if you do need to row. You might want to try rowing your larger boat, it can be heavy work to row a 15'+ boat!</p>
                    <p>Oars don’t have to be plan B. In small boats the oars are often as easy as a small motor and more convenient. When I was fishing out of a ten foot jon I bought an electric motor. The motor was great but I ended up just rowing. The boat was really easy to row. Charging the battery after every trip was a hassle. Setting up the motor and connecting the cables was just another setup step and car batteries are heavy to lug around.  In the end just rowing was way easier</p>
            </div>
        </div>
