<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fly Reels on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/reels.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Fly Reels for Stillwater Fly Fishing</h1>
            </div>
            <div id="contents">
                <h2>Fly Reels for Lake Fishing</h2>
                <p>Which reel do you need? Which do you want? Which can you afford? And what the hell is Rulon anyway? Let’s dive into the selection of fly fishing reels and try to make sense of the choices.</p>
                
                <img src="static/images/hardyMM.png" alt="hardyMM" id="hardyMM">
                
                <h2>Fly Reels hold line</h2>
                <p>Reels at their most fundamental are for storing unused line. It’s got to hold all the line: the leader, line and backing. Reels are built in different sizes to handle different line weights. The number ten for a tarpon rig is as big as wheelbarrow tire, that delicate number three is like a fifty cent piece. Make sure the reel’s manufacturer spec includess the line weight you need to match your rod.</p>
                
                
                <h2>Fly Reel Arbors</h2>
                <p>The reel is like a spool and the inside diameter of that spool is the arbor. Some fly reels are what you call large arbor. The diameter of the arbor affects the reel in several ways. First if a reel is large arbor it will have a larger outside diameter. The larger the arbor the greater the turn radius for the line wound around it and larger arbors can moderate the flyline’s kinking. Larger arbor reels will be spinning slower at the rim for any given speed of running fish. This is also true in reverse, you can catch up on a fish faster with a larger arbor.</p>
                <p>The actual arbor is only half the picture as far as the line is concerned because it lies on top of the backing. A small arbor reel with a high line capacity holding lots of backing will have a larger effective arbor.</p>
                <p>Arbor is not a game changer either way but suffice to say too small arbors will result in anemic retrieve rates and kinky flylines. Most important is probably your preference.</p>

                <img src="static/images/ads.png" alt="ads" id="ads">
                
                <h2>Slow down a running fish</h2>
                <p>When you hook a fish and it takes a run you want to check the run and pressure the fish. Your reel is going to need some brakes. Theres two ways this braking force is applied.</p>
                <p>A mechanical drag is the first option. Some sort of mechanism will apply braking force to the spool often only when line is going out. There is usually a handy adjustment knob to change the tension on the drag. </p>
                <p>Palming the exposed rim of the reel is the second way. When the fish runs you simply press your palm into the rim like a drum brake. Palming the reel  is a finesse move and adds a sporting dimension to the fight. You can make a mistake but palming doesn’t fail like a drag can, it just works regardless of other factors.</p>
                <p>I’m not big on drags and I’ll lay out my reasons for you. Drags are a complex addition to an otherwise dirt simple piece of gear. You need it to function smoothly and consistently never mind changing factors like wear, lubrication, rpm, wetness and temperature. It’s a big ask and it should not come as a surprise that drags are problematic. The very best drags are not immune and poor examples are constant sources of grief. Whether the drag fails to freewheeling or a seizure the fish can easily be lost and the rest of the day ruined.</p>
                <p>Why would you want a drag? Some large gamefish (tarpon, salmon) are so strong palming the reel is impossible, the sustained runs will burn your hand. Likewise very large fish may tire an angler and being able to take that second hand off the reel and use both to lean into the rod can help. No trout has this capacity.</p>
                <p>The tradeoff isn’t worth it in my view, theres little to be gained and much to lose. I tend to use  simple click pawl reels.</p>
                
                <img src="static/images/clickPawl.png" alt="clickPawl" id="clickPawl">

                <h2>Click and Pawl</h2>
                <p>Without some kind of resistance every little tug on the reel will result in a freewheel and the line will backlash and tangle. If you have a drag it can be the gentle resistance that you need. If you don’t have a drag you should have a robust click and pawl. The reel has a sprocket on the spool and as the reel turns that sprocket flips the sring loaded pawls. It results in a clicking noise and gently slows the reel. Most click and pawl reels have an adjust that slightly cranks the tension on the click spring, resulting in a louder click and a little more resistance.</p>
                <p>A nice bright click is the mark of as good reel and the sound of a good fish tearing out line on a reel like that is a beautiful sound.</p>
                
                <h2>Spare Spools</h2>
                <p>You need flexibility. On any given day you might be best using a floating line, a sink tip, or any grade of sinking line. Rather than carrying 6 rods take one or two and have spare spools for the reels. The spool can be exchanged in a minute or two and you’re back fishing.</p>
                 
                <p>I recommend against buying any reel you can’t get a spare spool for. In my boat I carry two rods, each rod has two spools. I have a full sink line for deep lining chironomids, a moderate sink slime line for probing shoals, a floating line with a normal leader for standard nymphing or dries and a heavier float line with in indicator rig leader. At any given moment two of these methods are ready and the other two are only two minutes away via a spool change.</p>
                
                
                <h2>Quality at every price point</h2>
                <p>Reels of decent quality are available at all prices if you don’t require a drag system. In general look for a solidly built simple reel. Don’t forget a spare spool. Plastic is generally a bad idea even if its just for small components. Look for nice crisp edges on machined click and pawl systems.</p>
                
                <p>If you want a drag beware cheaper models, getting that right requires some engineering. You will have to do your research and be prepared to pay a little more for the quality.</p>
                
            </div>
        </div>
