<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Best rods to use when fly fishing for trout.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fly Rods on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/rods.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Rods for flyfishing a lake</h1>
                <h2>"This is my boomstick!" -ash</h2>
                <p>There’s so many choices to be made when you pick a rod for flyfishing. The line and the rod are matched according to the line weight so if you’re talking about one you’re discussing both at the same time. Let’s look at each characteristic of the rod and get closer to to making the right choice.</p>

                <div class="snapsdiv">
                    <img src="static/images/rods.png" alt="rods" class="snaps">
                </div>

                <h2>Line weight is a good starting point</h2>
                <p>Every rod has a recommended line weight. The line weight should be embossed on the rod itself and many  manufacturers have guides for matching lines and rods. Heres a fantastic tool from Rio lines:</p>
                <a href="http://www.rioproducts.com/lean/line-selector">http://www.rioproducts.com/lean/line-selector</a>
                <p>Matching line weight and rod weight is a best practice. If the line’s too heavy or light you will have reduced performance and you could break your rod. With that said I sometimes use one line weight heavier on some rods.</p>
                 
                <h2>What rod weight do you need?</h2>
                <p>You need to consider the fish you’re after, the performance you need and the flies you plan to throw. Let’s break these down individually.</p>

                <div class="snapsdiv">
                    <img src="static/images/average.JPG" alt="average" class="snaps">
                </div>
                
                <h2>It’s a good idea to match rod weight with average fish size</h2>
                <p>Trout come in a variety of sizes and you might want to factor the size of your local trout into your choice. Every trout is a great fighter it’s more a matter of scale. To start with let’s narrow it to 4, 5 and 6 weight lines. Smaller than that won’t perform casting tasks and larger will be too much rod for trout sized game. If you fish spots where trophy trout are around three pounds you might want to stick to lower weight rods. Rods in 5 weight or even a 4 weight won’t overpower the fish.</p>
                
                
                <h2>Fly line weight affects casting performance</h2>
                <p>Flyfishing is casting. Unlike other forms of fishing there is no external weight on your terminal tackle to carry it to the target. The mass integral to the flyline itself is the only thing carrying an essentially weightless fly down range. You need more mass to fight the wind and you’ll need it for longer casts. You can buy a more performant rod but nothing will match the boost that a little heavier line grants.</p>
                
                
                <h2>Fly choices influence line weight requirement</h2>
                <p>The line carries the fly in flycasting. How much of a load is it? We want to consider the mass of the fly (is it a large or weighted pattern?) and also the wind resistance (some large bushy flies are harder to cast.) You’ll be going through a variety of patterns through the  seasons and even in the same day so it’s hard to predict how fly choice will affect things. Indicator rigs are different. You’ll probably end up fishing and indicator rig a good amount and the long leader and that float will do best with a beefier line.</p>
                
                <h2>Rod lengths</h2>
                <p>Fishing with a longer rod offers a bit of an advantage in line speed and a big edge in line control. Big mends are easy when you have the reach. The advantage of a short rod is in keeping it from snagging in tight brush on a riverbank. On a lake there is zero advantage to shorter rods. I wouldn’t consider a rod under 9’. </p>
                
                <h2>Fly rod price point</h2>
                <p>You can spend 40 dollars or 1400 on your next fly rod. Why is there such a range in price? Are these rods really that different?</p>
                <p>Some good news is that you can get great performance in a fly rod at almost any price. The cheapest rods are likely to leave you wanting a little in casting performance. Cheap rods are usually built from cheaper components like foam grips instead of cork, plastic reel seats, fibreglass blanks instead of graphite composite, etc. Once you get out of the absolute bargain bin the rods are for the most part really quite good. Around the 200 dollar mark is where the goats and the sheep separate. There’s lots of high performance rods at this level.</p>
                <p>What about the high end? How can these prices be justified? A huge price tag is no guarantee of better quality yet that’s often how it plays out. For each step you’ll probably see increased casting performance and better quality components. These are diminishing returns however, for each step in cost you get a performance improvement but it doesn't keep pace with the rise in the price. Moving up is difficult to rationalize if you’re already looking at a nice rod at the previous price point.</p>
                <p>Do you need high end tackle for good fishing? My kids have caught some really sizeable trophies on 50 dollar glass rods with blue foam grips. These cheap rods suffer some limitations but they can lay out a half decent cast and in most cases that’s enough. The fish don’t care if you present the fly correctly and a receipt is no guarantee of success. </p>
                <p>Is the cost of a premium rod justified then? Maybe. It’s not justified if they shut off your gas because you couldn’t pay your bill. However, if you have some discretionary funds you might really enjoy a truly great rod. High end rods have top quality components and are well made. Performance blanks offer superb casting properties and that never gets old. This is a value call and most hobbies people are passionate about head into this territory. Maybe it’s hard to imagine why a guy that plays guitar needs a $4000 Fender? I’m sure he has his reasons.</p>

                <div class="snapsdiv">
                    <img src="static/images/rodsMatter.png" alt="rodsMatter"  class="snaps">
                </div>
                
                <h2>My own rod choices</h2>
                <p>I personally fish with two rods in the boat one is 11’ the other 11’6”. These are switch rods, intended for single or double handed use on small rivers. One is a 4 weight the other a 5 but they fish like a rod one line weight greater due to the size. They are Sage rods and they cost me but I love to fish and the performance is remarkable. The extra length is great for mending long casts and adjusting indicators and a real help steering fish around the anchor lines. I love those rods but sometimes my sons win the derby in spite of it all with their blue foam handled whips!</p>
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
