<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scuds on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/scudBug.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Scuds: Powerful Trout Nutrition</h1>
            </div>
            <div id="contents">
                <h2>In a Lake Scuds Cause Trout to Put On The Beef!</h2>
                <p>Scuds inhabit freshwater lakes that are alkaline enough to support them. They are often called shrimp but they are actually an amphipod. When they’re available the humble scuds are a game changer. Trout that are feeding on scuds will be in excellent physical condition. With a good scud population expect thick shouldered, healthy fish. When available they are probably the most important food source for trout and that makes them important to you as an angler! Let’s look at scuds and see how best to imitate them.</p> 

                <h2>Are There Scuds in the Lake?</h2>
                <p>Take a look in the shallow water when you launch your boat. Turn over a rock or piece of wood. If there are scuds in the lake you’ll disturb a few and catch them scurrying back into cover.</p> 

                <img src="static/images/scud.png" alt="scud" id="scud">

                <h2>There are two types of scuds: Hyalella and Gammarus</h2>
                <p>They look similar, the important difference is in size. Tiny Hyalella is basically plankton, not much bigger than a mustard seed. Gammarus is the larger ranging in size up to about the size of a sunflower seed.</p> 

                <h2>Scavenging Scuds</h2>
                <p>The scuds live the life of an automatic pool cleaner. Think: freshwater Roomba. Every sort of organic detritus is chow for these tiny recyclers. Since their food supply is practically limitless there is little to stop the population of scuds from exploding. Trout actually keep the numbers in check, a lake without trout will have lots more scuds.</p>                 

                <h2>50 shades of green</h2>
                <p>The color palette for scuds goes from green to green! Choose green earth tones from olive and light green to bluish green and almost grey. </p> 

                <h2>Terrifying Parasites!</h2>
                <p>Some scuds will have an orange dot under the carapace, it’s a real hotspot on the otherwise drab amphipod. This dot is a parasite infecting the scud. Don’t panic it’s no harm to humans.</p> 

                <img src="static/images/scudfly.png" alt="scudfly" id="scudfly">

                <p>Hotspots are a great strategy to make a fly stand out subtly and it’s used in many fly designs. Sometimes drab brown nymph patterns are tied with a brightly colored bead or the head will be tied with a hot orange thread. The pattern retains it’s resemblance to the natural but the extra shot of color increases the visibility. That bit of bright color makes that fly stand out from the naturals, otherwise its sort of a needle in a stack of needles.</p> 

                <p>With the infected scud we get an RSVP invitation to put an orange hotspot on our pattern. Stay green but put that subtle orange spot in the middle of the fly. Now you have a fly that stays true to the natural it’s imitating but also stands out from the background of green lake bottom.</p> 

                <img src="static/images/ads.png" alt="ads" id="ads">


                <h2>The Random Motion of Scuds</h2>
                <p>Scuds are found all over the lake on the bottom at any depth. They tend to stick to small scale cover like dead plants, wood bits, whatever is around. Scuds crawl around milling through all the mung at the bottom of the lake. These amphipods do have the ability to swim and when they do it’s short distances covered in a  plodding erratic fashion. Lots of pauses and slow progress. </p> 


                <h2>Scuds offer Trout Consistent Year Round Food</h2>
                <p>Scuds don’t have a seasonal availability they are just always around. On the hottest day of summer and under the ice there’s scuds. That’s why they factor so heavily into trout quality, at any time of year, every corner of the lake will have scuds. For the angler it means that a scud pattern is basically always and everywhere a good bet. If there is a downside to fishing scuds it would be that without a hatch event the trout are never concentrated in any one area feeding on them. It’s like a steady slow burn.</p> 
            </div>
        </div>
    </body>
</html>   
