<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scud Patterns on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/scudPattern.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Fly Patterns Imitating Scuds</h1>
            </div>
            <div id="contents">
                    <h2>Scud Patterns</h2>
                    <p>Scuds are powerful nutrition for trout! Rather than a seasonal bounty scuds are a staple. Always available whether midsummer or under the ice, the humble scud provides. These little amphipods are fertile and when a lake has the right alkalinity and some feed they're available to the trout in hordes. When there's scuds in the lake you can see it in the trout, they will be thicker with broad shoulders and in great condition. There are two important families the tiny hyaella (sesame seed sized) and the larger gammarus (up to the size of sunflower seed). Both are similar enough for our purposes to just fall into size ranges for the same patterns. Personally I always fish a little bigger shrimp maybe starting at 14 and headed to 10 hook size just for the added visibility.</p>
                    <img src="static/images/scudPattern1.JPG" alt="scudPattern1" class="patternPic">
                    <p>I typically fish scuds under an indicator. I use a heavier hook to sink the fly and control the depth of the retrieve with the indicator.</p>
                    <img src="static/images/scudPattern2.JPG" alt="scudPattern2" class="patternPic">
                    <p>Scuds are almost always portrayed as hump backed in fly fishing circles. They will be humped when they pause but they flatten out and swim in reverse. I don't like the really rounded patterns for this reason.</p>
                    <img src="static/images/ads.png" alt="ads" id="ads">
                    <img src="static/images/scudPattern3.JPG" alt="scudPattern3" class="patternPic">
                    <p>Many scuds have a pale orange dot inside their body. This is actaully a parasite! Its a great excuse to add a bottom contrasting hot spot to the fly.</p>
                    <img src="static/images/scudPattern4.JPG" alt="scudPattern4" class="patternPic">
                    <p>When you look at a scud with a magnifying glass they have a hot mess of oddly shaped and uneven length legs. Represent this with a good shaggy dubbing like seals fur. The wooly look is better than a clean shape.</p>
                    <img src="static/images/scudPattern5.JPG" alt="scudPattern5" class="patternPic">
                    <p>I like to add eyes made by melting monofilament line. Shellbacks can be made by tying over a film or by using UV resin. </p>
                    <img src="static/images/scudPattern6.JPG" alt="scudPattern6" class="patternPic">
                    <p>Colors range from olive through to a bluey green. This pattern has everything it needs to give the impression of a scud. The color is right. Theres a smooth carapace and lots of junky legs and feelers on the bottom. It has visible eye dots and the orange spot. The body is fairly flat and backwards so when slowly retrieved it will look like the natural. Hang a pattern like that over a weedbed or fish it on a marl bottom and hang on!</p>
                       
            </div>
        </div>
