<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Indicator Fishing on stillwater.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/sinkFloat.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div id="wholeContainer">
            <div>
                <img src="static/icons/SWTlogoRework.png" alt="Logo" id="Logo">
            </div>
            <div id="header">
                <h1>Fishing a Floating Line and Sinking fly</h1>
            </div>
            <div id="contents">
                <h2>Sinking line with a Buoyant Fly</h2>
                <p>Fishing dragon nymphs on a shoal has some logistical problems. What you want is a slowish presentation in the midwater to bottom section of the water. If you use sinking line it can take your fly to the bottom unless you can finesse the speed exactly right and even then the speed that keeps the fly “up” might not make for a natural presentation. You can toss this problem out on it’s head by combining a floating fly and a sinking line.</p> 
                
                <img src="static/images/sinkFloat.png" alt="sinkFloat" id="sinkFloat">
                
                <h2>Floating flies</h2>
                <p>The fly’s construction will determine its buoyancy. The air trapped in the cells of a foam body  will cause a fly to float. Deer hair is hollow and imparts the same effect. If you tie your own flies you’re set, choose a lighter hook, use some foam eyes and build a body of foam or clipped deer hair. The fly will bob like a cork. If you’re buying flies tell the staff at the store what you’re after, it’s a common pattern.</p> 
                <img src="static/images/blkFoamDragon.png" alt="blkFoamDragon" id="blkFoamDragon">
                <img src="static/images/grnFoamDragon.png" alt="grnFoamDragon" id="grnFoamDragon">
                
                    
                <h2>Sinking line</h2>
                <p>Use any sinking line for the job. No need to worry about the sink rate, the line is going all the way down and youll retrieve it across the bottom.</p> 
                
                <img src="static/images/ads.png" alt="ads" id="ads">

                <h2>A nice effect</h2>
                <p>Cast the line across the shoal and let it sink completely. The line will come to rest on the floor and the fly will float up on the leader like a baloon on a string. When you retrieve the line it will pull the fly down and ahead in the direction of pull. It’s a very natural action and it looks like a nymph trading spots, it rises slowly up and then a hastier retreat to the safety of the bottom.</p> 
                               
                
            </div>
        </div>
