<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148952760-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-148952760-1');
        </script>
        <meta name="Description" content="Fly fishing for trout sinking line floating fly.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Indicator Fishing on stillwatertrout.ca</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/sinkFloat.css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,400i&display=swap" rel="stylesheet">
        {#    usage of these fonts as :    font-family: 'Bebas Neue', cursive;  font-family: 'Roboto', sans-serif; #}
        <link rel="icon" type="image/png" href="static/troutico.ico">
    </head>
    <body>
        <main>
            <figure id="logodiv">
                <img src="static/images/SWTlogoV2finalSVG.svg" alt="stillwatertrout.ca logo" id="logo">
            </figure>

            <section>
                <h1>Fishing a Floating Line and Sinking fly</h1>
                <h2>Sinking line with a Buoyant Fly</h2>
                <p>Fishing dragon nymphs on a shoal has some logistical problems. What you want is a slowish presentation in the midwater to bottom section of the water. If you use sinking line it can take your fly to the bottom unless you can finesse the speed exactly right and even then the speed that keeps the fly “up” might not make for a natural presentation. You can toss this problem out on it’s head by combining a floating fly and a sinking line.</p> 

                <div class="snapsdiv">
                    <img src="static/images/sinkFloat.png" alt="sinkFloat" class="snaps ">
                </div>
                <h2>Floating flies</h2>
                <p>The fly’s construction will determine its buoyancy. The air trapped in the cells of a foam body  will cause a fly to float. Deer hair is hollow and imparts the same effect. If you tie your own flies you’re set, choose a lighter hook, use some foam eyes and build a body of foam or clipped deer hair. The fly will bob like a cork. If you’re buying flies tell the staff at the store what you’re after, it’s a common pattern.</p> 

                <div class="snapsdiv">
                    <img src="static/images/blkFoamDragon.png" alt="blkFoamDragon" class="snaps righttilt">
                </div>
                <div class="snapsdiv">
                    <img src="static/images/grnFoamDragon.png" alt="grnFoamDragon" class="snaps lefttilt">
                </div>
                    
                <h2>Sinking line</h2>
                <p>Use any sinking line for the job. No need to worry about the sink rate, the line is going all the way down and youll retrieve it across the bottom.</p> 


                <h2>A nice effect</h2>
                <p>Cast the line across the shoal and let it sink completely. The line will come to rest on the floor and the fly will float up on the leader like a baloon on a string. When you retrieve the line it will pull the fly down and ahead in the direction of pull. It’s a very natural action and it looks like a nymph trading spots, it rises slowly up and then a hastier retreat to the safety of the bottom.</p>
            </section>
            <nav id="homelink">
                <a href="{{ url_for('index')}}" class="homeicon">
                    <img src="static/icons/SWThomebutton.png" class="homeicon" alt="home button link" >
                </a>
            </nav>
            <aside id="omnivore">
                <img src="static/images/reddotomni.png" alt="web masters logo" id="omnilogo">
                <a href="https://www.omnivorewebdesign.com" class="omnilink"  target="_blank" rel="noopener">www.omnivorewebdesign.com</a>
            </aside>
        </main>
